In [0]:
import sqlite3
conn = sqlite3.connect('data_grokd.db')
print ("Opened database successfully");
import sqlite3
conn = sqlite3.connect('data_grokd.db')
print ("Opened database successfully");
conn.execute(''' CREATE TABLE ipl_ball_by_ball
   (match_id   INT PRIMARY KEY     NOT NULL,
          inning int,
          over int,
          ball int,
          batsman char(50),
          non_striker char(50),
          bowler char(50),
          batsman_runs int,
          extra_runs int,
          total_runs int,
          non_boundary int,
          bowling_team char (50),
          dismissal_kind char(10),
          player_dismissed char(10),
          fielder char(10),
          extras_type char(10),
          batting_team char(50),
          is_wicket int); ''')
print ("Table created successfully");
conn.close()

In [0]:
import sqlite3
conn = sqlite3.connect('data_grokd.db')
print ("Opened database successfully");
import sqlite3

conn = sqlite3.connect('data_grokd.db')

print ("Opened database successfully");

import sqlite3

conn = sqlite3.connect('data_grokd.db')

print ("Opened database successfully");

conn.execute(''' CREATE TABLE ipl_matches
         (match_id   INT PRIMARY KEY     NOT NULL,
          Date        TEXT,
         player_of_match char(100),
         venue_id int,
         result_margin int,
         team1 char (100),
         team2 char (100),
         toss_winner char(100),
         toss_decision char(10),
         winner char(100),
         result char(10),
         umpire2 char(50), 
         eliminator char(5),
         method char(5),
         umpire1 char(50),
         neutral_venue int ); ''')
print ("Table created successfully")
conn.close()

In [0]:
import sqlite3
conn = sqlite3.connect('data_grokd.db')
#print ("Opened database successfully");
conn.execute("INSERT INTO ipl_matches values(	335982,	'4/18/2008',	'BB McCullum',	35,	140,	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'field',	'Kolkata Knight Riders',	'runs',	'RE Koertzen',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	335983,	'4/19/2008',	'MEK Hussey',	31,	33,	'Kings XI Punjab',	'Chennai Super Kings',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'SL Shastri',	'N',	'NA',	'MR Benson',	0	)");
conn.execute("INSERT INTO ipl_matches values(	335984,	'4/19/2008',	'MF Maharoof',	27,	9,	'Delhi Daredevils',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Delhi Daredevils',	'wickets',	'GA Pratapkumar',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	335985,	'4/20/2008',	'MV Boucher',	14,	5,	'Mumbai Indians',	'Royal Challengers Bangalore',	'Mumbai Indians',	'bat',	'Royal Challengers Bangalore',	'wickets',	'DJ Harper',	'N',	'NA',	'SJ Davis',	0	)");
conn.execute("INSERT INTO ipl_matches values(	335986,	'4/20/2008',	'DJ Hussey',	15,	5,	'Kolkata Knight Riders',	'Deccan Chargers',	'Deccan Chargers',	'bat',	'Kolkata Knight Riders',	'wickets',	'K Hariharan',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	335987,	'4/21/2008',	'SR Watson',	20,	6,	'Rajasthan Royals',	'Kings XI Punjab',	'Kings XI Punjab',	'bat',	'Rajasthan Royals',	'wickets',	'RB Tiffin',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	335988,	'4/22/2008',	'V Sehwag',	22,	9,	'Deccan Chargers',	'Delhi Daredevils',	'Deccan Chargers',	'bat',	'Delhi Daredevils',	'wickets',	'AM Saheba',	'N',	'NA',	'IL Howell',	0	)");
conn.execute("INSERT INTO ipl_matches values(	335989,	'4/23/2008',	'ML Hayden',	29,	6,	'Chennai Super Kings',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Chennai Super Kings',	'runs',	'GA Pratapkumar',	'N',	'NA',	'DJ Harper',	0	)");
conn.execute("INSERT INTO ipl_matches values(	335990,	'4/24/2008',	'YK Pathan',	22,	3,	'Deccan Chargers',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'MR Benson',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	335991,	'4/25/2008',	'KC Sangakkara',	31,	66,	'Kings XI Punjab',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Kings XI Punjab',	'runs',	'AM Saheba',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	335992,	'4/26/2008',	'SR Watson',	35,	7,	'Royal Challengers Bangalore',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'IL Howell',	'N',	'NA',	'MR Benson',	0	)");
conn.execute("INSERT INTO ipl_matches values(	335993,	'4/26/2008',	'JDP Oram',	29,	9,	'Chennai Super Kings',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'bat',	'Chennai Super Kings',	'wickets',	'AV Jayaprakash',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	335994,	'4/27/2008',	'AC Gilchrist',	13,	10,	'Mumbai Indians',	'Deccan Chargers',	'Deccan Chargers',	'field',	'Deccan Chargers',	'wickets',	'SL Shastri',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	335995,	'4/27/2008',	'SM Katich',	31,	4,	'Kings XI Punjab',	'Delhi Daredevils',	'Delhi Daredevils',	'bat',	'Kings XI Punjab',	'wickets',	'I Shivram',	'N',	'NA',	'RE Koertzen',	0	)");
conn.execute("INSERT INTO ipl_matches values(	335996,	'4/28/2008',	'MS Dhoni',	35,	13,	'Royal Challengers Bangalore',	'Chennai Super Kings',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'RB Tiffin',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	335997,	'4/29/2008',	'ST Jayasuriya',	15,	7,	'Kolkata Knight Riders',	'Mumbai Indians',	'Kolkata Knight Riders',	'bat',	'Mumbai Indians',	'wickets',	'AV Jayaprakash',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	335998,	'4/30/2008',	'GD McGrath',	27,	10,	'Delhi Daredevils',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Delhi Daredevils',	'runs',	'I Shivram',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	335999,	'5/1/2008',	'SE Marsh',	22,	7,	'Deccan Chargers',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'RB Tiffin',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336000,	'5/1/2008',	'SA Asnodkar',	20,	45,	'Rajasthan Royals',	'Kolkata Knight Riders',	'Rajasthan Royals',	'bat',	'Rajasthan Royals',	'runs',	'GA Pratapkumar',	'N',	'NA',	'RE Koertzen',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336001,	'5/2/2008',	'V Sehwag',	29,	8,	'Chennai Super Kings',	'Delhi Daredevils',	'Chennai Super Kings',	'bat',	'Delhi Daredevils',	'wickets',	'K Hariharan',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336003,	'5/3/2008',	'IK Pathan',	31,	9,	'Kings XI Punjab',	'Kolkata Knight Riders',	'Kings XI Punjab',	'bat',	'Kings XI Punjab',	'runs',	'I Shivram',	'N',	'NA',	'DJ Harper',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336002,	'5/25/2008',	'R Vinay Kumar',	22,	5,	'Deccan Chargers',	'Royal Challengers Bangalore',	'Deccan Chargers',	'bat',	'Royal Challengers Bangalore',	'wickets',	'RE Koertzen',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336004,	'5/4/2008',	'SM Pollock',	13,	29,	'Mumbai Indians',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Mumbai Indians',	'runs',	'RE Koertzen',	'N',	'NA',	'IL Howell',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336005,	'5/4/2008',	'Sohail Tanvir',	20,	8,	'Rajasthan Royals',	'Chennai Super Kings',	'Chennai Super Kings',	'bat',	'Rajasthan Royals',	'wickets',	'AV Jayaprakash',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336006,	'5/5/2008',	'S Sreesanth',	35,	6,	'Royal Challengers Bangalore',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'BR Doctrove',	'N',	'NA',	'SJ Davis',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336007,	'5/6/2008',	'AC Gilchrist',	29,	7,	'Chennai Super Kings',	'Deccan Chargers',	'Deccan Chargers',	'field',	'Deccan Chargers',	'wickets',	'RB Tiffin',	'N',	'NA',	'MR Benson',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336008,	'5/7/2008',	'A Nehra',	13,	7,	'Mumbai Indians',	'Rajasthan Royals',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'RE Koertzen',	'N',	'NA',	'DJ Harper',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336009,	'5/8/2008',	'MS Dhoni',	27,	4,	'Delhi Daredevils',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'RB Tiffin',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336010,	'5/8/2008',	'SC Ganguly',	15,	5,	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'bat',	'Kolkata Knight Riders',	'runs',	'IL Howell',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336011,	'5/9/2008',	'YK Pathan',	20,	8,	'Rajasthan Royals',	'Deccan Chargers',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'AM Saheba',	'N',	'NA',	'MR Benson',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336012,	'5/28/2008',	'CRD Fernando',	35,	9,	'Royal Challengers Bangalore',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'AV Jayaprakash',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336013,	'5/10/2008',	'L Balaji',	29,	18,	'Chennai Super Kings',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Chennai Super Kings',	'runs',	'BG Jerling',	'N',	'NA',	'AV Jayaprakash',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336014,	'5/11/2008',	'SC Ganguly',	22,	23,	'Deccan Chargers',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'bat',	'Kolkata Knight Riders',	'runs',	'AM Saheba',	'N',	'NA',	'IL Howell',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336015,	'5/11/2008',	'SR Watson',	20,	3,	'Rajasthan Royals',	'Delhi Daredevils',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'RE Koertzen',	'N',	'NA',	'SJ Davis',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336016,	'5/12/2008',	'SE Marsh',	31,	9,	'Kings XI Punjab',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'bat',	'Kings XI Punjab',	'wickets',	'I Shivram',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336017,	'5/13/2008',	'Shoaib Akhtar',	15,	23,	'Kolkata Knight Riders',	'Delhi Daredevils',	'Kolkata Knight Riders',	'bat',	'Kolkata Knight Riders',	'runs',	'IL Howell',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336018,	'5/14/2008',	'ST Jayasuriya',	14,	9,	'Mumbai Indians',	'Chennai Super Kings',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'AM Saheba',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336019,	'5/28/2008',	'SE Marsh',	31,	41,	'Kings XI Punjab',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Kings XI Punjab',	'runs',	'K Hariharan',	'N',	'NA',	'SJ Davis',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336020,	'5/15/2008',	'A Mishra',	27,	12,	'Delhi Daredevils',	'Deccan Chargers',	'Deccan Chargers',	'field',	'Delhi Daredevils',	'runs',	'GA Pratapkumar',	'N',	'NA',	'BG Jerling',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336021,	'5/16/2008',	'SM Pollock',	14,	8,	'Mumbai Indians',	'Kolkata Knight Riders',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'DJ Harper',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336022,	'5/17/2008',	'DPMD Jayawardene',	27,	6,	'Delhi Daredevils',	'Kings XI Punjab',	'Delhi Daredevils',	'bat',	'Kings XI Punjab',	'runs',	'RE Koertzen',	'N',	'D/L',	'AV Jayaprakash',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336023,	'5/17/2008',	'GC Smith',	20,	65,	'Rajasthan Royals',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Rajasthan Royals',	'runs',	'SL Shastri',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336024,	'5/18/2008',	'DJ Bravo',	22,	25,	'Deccan Chargers',	'Mumbai Indians',	'Deccan Chargers',	'field',	'Mumbai Indians',	'runs',	'DJ Harper',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336025,	'5/18/2008',	'M Ntini',	15,	3,	'Kolkata Knight Riders',	'Chennai Super Kings',	'Kolkata Knight Riders',	'bat',	'Chennai Super Kings',	'runs',	'K Hariharan',	'N',	'D/L',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336026,	'5/19/2008',	'SP Goswami',	35,	5,	'Royal Challengers Bangalore',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'GA Pratapkumar',	'N',	'NA',	'SJ Davis',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336027,	'5/20/2008',	'YK Pathan',	15,	6,	'Kolkata Knight Riders',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'RE Koertzen',	'N',	'NA',	'BG Jerling',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336028,	'5/21/2008',	'SE Marsh',	14,	1,	'Mumbai Indians',	'Kings XI Punjab',	'Mumbai Indians',	'field',	'Kings XI Punjab',	'runs',	'GA Pratapkumar',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336029,	'5/21/2008',	'A Kumble',	29,	14,	'Chennai Super Kings',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'bat',	'Royal Challengers Bangalore',	'runs',	'I Shivram',	'N',	'NA',	'DJ Harper',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336031,	'5/23/2008',	'SE Marsh',	31,	6,	'Kings XI Punjab',	'Deccan Chargers',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'SJ Davis',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336032,	'5/24/2008',	'KD Karthik',	27,	5,	'Delhi Daredevils',	'Mumbai Indians',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'K Hariharan',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336033,	'5/24/2008',	'JA Morkel',	29,	10,	'Chennai Super Kings',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Rajasthan Royals',	'runs',	'SL Shastri',	'N',	'NA',	'DJ Harper',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336034,	'5/3/2008',	'P Kumar',	35,	3,	'Royal Challengers Bangalore',	'Deccan Chargers',	'Deccan Chargers',	'field',	'Royal Challengers Bangalore',	'runs',	'SL Shastri',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336035,	'5/25/2008',	'Umar Gul',	15,	3,	'Kolkata Knight Riders',	'Kings XI Punjab',	'Kings XI Punjab',	'bat',	'Kolkata Knight Riders',	'wickets',	'I Shivram',	'N',	'NA',	'SJ Davis',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336036,	'5/26/2008',	'Sohail Tanvir',	20,	5,	'Rajasthan Royals',	'Mumbai Indians',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'K Hariharan',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336037,	'5/27/2008',	'SK Raina',	22,	7,	'Deccan Chargers',	'Chennai Super Kings',	'Deccan Chargers',	'bat',	'Chennai Super Kings',	'wickets',	'AM Saheba',	'N',	'NA',	'BG Jerling',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336038,	'5/30/2008',	'SR Watson',	14,	105,	'Delhi Daredevils',	'Rajasthan Royals',	'Delhi Daredevils',	'field',	'Rajasthan Royals',	'runs',	'RE Koertzen',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336039,	'5/31/2008',	'M Ntini',	14,	9,	'Chennai Super Kings',	'Kings XI Punjab',	'Kings XI Punjab',	'bat',	'Chennai Super Kings',	'wickets',	'DJ Harper',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	336040,	'6/1/2008',	'YK Pathan',	13,	3,	'Chennai Super Kings',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'RE Koertzen',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	392181,	'4/18/2009',	'SR Tendulkar',	33,	19,	'Chennai Super Kings',	'Mumbai Indians',	'Chennai Super Kings',	'field',	'Mumbai Indians',	'runs',	'K Hariharan',	'N',	'NA',	'BR Doctrove',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392182,	'4/18/2009',	'R Dravid',	33,	75,	'Royal Challengers Bangalore',	'Rajasthan Royals',	'Royal Challengers Bangalore',	'bat',	'Royal Challengers Bangalore',	'runs',	'RB Tiffin',	'N',	'NA',	'BR Doctrove',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392183,	'4/19/2009',	'DL Vettori',	33,	10,	'Delhi Daredevils',	'Kings XI Punjab',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'SD Ranade',	'N',	'D/L',	'MR Benson',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392184,	'4/19/2009',	'RP Singh',	33,	8,	'Deccan Chargers',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'bat',	'Deccan Chargers',	'wickets',	'BR Doctrove',	'N',	'NA',	'MR Benson',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392185,	'4/20/2009',	'M Muralitharan',	8,	92,	'Royal Challengers Bangalore',	'Chennai Super Kings',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'SJA Taufel',	'N',	'NA',	'BG Jerling',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392186,	'4/21/2009',	'CH Gayle',	24,	11,	'Kings XI Punjab',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'runs',	'SD Ranade',	'N',	'D/L',	'DJ Harper',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392188,	'4/22/2009',	'AC Gilchrist',	33,	24,	'Royal Challengers Bangalore',	'Deccan Chargers',	'Deccan Chargers',	'bat',	'Deccan Chargers',	'runs',	'AM Saheba',	'N',	'NA',	'M Erasmus',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392189,	'4/23/2009',	'AB de Villiers',	24,	9,	'Chennai Super Kings',	'Delhi Daredevils',	'Delhi Daredevils',	'bat',	'Delhi Daredevils',	'runs',	'SJA Taufel',	'N',	'NA',	'BR Doctrove',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392190,	'4/23/2009',	'YK Pathan',	33,	'NA',	'Kolkata Knight Riders',	'Rajasthan Royals',	'Kolkata Knight Riders',	'field',	'Rajasthan Royals',	'tie',	'M Erasmus',	'Y',	'NA',	'MR Benson',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392191,	'4/24/2009',	'RS Bopara',	24,	7,	'Royal Challengers Bangalore',	'Kings XI Punjab',	'Royal Challengers Bangalore',	'bat',	'Kings XI Punjab',	'wickets',	'TH Wijewardene',	'N',	'NA',	'BR Doctrove',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392192,	'4/25/2009',	'PP Ojha',	24,	12,	'Deccan Chargers',	'Mumbai Indians',	'Deccan Chargers',	'bat',	'Deccan Chargers',	'runs',	'SJA Taufel',	'N',	'NA',	'HDPK Dharmasena',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392194,	'4/26/2009',	'TM Dilshan',	8,	6,	'Royal Challengers Bangalore',	'Delhi Daredevils',	'Royal Challengers Bangalore',	'bat',	'Delhi Daredevils',	'wickets',	'BG Jerling',	'N',	'NA',	'S Asnani',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392195,	'4/26/2009',	'KC Sangakkara',	33,	27,	'Kings XI Punjab',	'Rajasthan Royals',	'Kings XI Punjab',	'bat',	'Kings XI Punjab',	'runs',	'K Hariharan',	'N',	'NA',	'M Erasmus',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392196,	'4/27/2009',	'HH Gibbs',	24,	6,	'Chennai Super Kings',	'Deccan Chargers',	'Deccan Chargers',	'field',	'Deccan Chargers',	'wickets',	'TH Wijewardene',	'N',	'NA',	'IL Howell',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392197,	'4/27/2009',	'SR Tendulkar',	8,	92,	'Kolkata Knight Riders',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'RB Tiffin',	'N',	'NA',	'BG Jerling',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392198,	'4/28/2009',	'YK Pathan',	32,	5,	'Delhi Daredevils',	'Rajasthan Royals',	'Delhi Daredevils',	'bat',	'Rajasthan Royals',	'wickets',	'RE Koertzen',	'N',	'NA',	'GAV Baxter',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392199,	'4/29/2009',	'MV Boucher',	24,	5,	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'bat',	'Royal Challengers Bangalore',	'wickets',	'TH Wijewardene',	'N',	'NA',	'MR Benson',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392200,	'4/29/2009',	'KC Sangakkara',	24,	3,	'Kings XI Punjab',	'Mumbai Indians',	'Kings XI Punjab',	'bat',	'Kings XI Punjab',	'runs',	'SL Shastri',	'N',	'NA',	'MR Benson',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392201,	'4/30/2009',	'DP Nannes',	32,	6,	'Deccan Chargers',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'AM Saheba',	'N',	'NA',	'GAV Baxter',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392202,	'4/30/2009',	'SK Raina',	32,	38,	'Chennai Super Kings',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Chennai Super Kings',	'runs',	'RE Koertzen',	'N',	'NA',	'GAV Baxter',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392203,	'5/1/2009',	'JP Duminy',	23,	9,	'Kolkata Knight Riders',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'SK Tarapore',	'N',	'NA',	'M Erasmus',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392204,	'5/1/2009',	'Yuvraj Singh',	24,	8,	'Royal Challengers Bangalore',	'Kings XI Punjab',	'Royal Challengers Bangalore',	'bat',	'Royal Challengers Bangalore',	'runs',	'S Ravi',	'N',	'NA',	'HDPK Dharmasena',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392205,	'5/2/2009',	'YK Pathan',	8,	3,	'Deccan Chargers',	'Rajasthan Royals',	'Deccan Chargers',	'bat',	'Rajasthan Royals',	'wickets',	'BG Jerling',	'N',	'NA',	'S Asnani',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392206,	'5/2/2009',	'SB Jakati',	19,	18,	'Chennai Super Kings',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Chennai Super Kings',	'runs',	'RE Koertzen',	'N',	'NA',	'DJ Harper',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392207,	'5/3/2009',	'DPMD Jayawardene',	8,	6,	'Kings XI Punjab',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'bat',	'Kings XI Punjab',	'wickets',	'MR Benson',	'N',	'NA',	'S Asnani',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392209,	'5/4/2009',	'MS Dhoni',	23,	78,	'Chennai Super Kings',	'Deccan Chargers',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'M Erasmus',	'N',	'NA',	'BR Doctrove',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392210,	'5/5/2009',	'GC Smith',	24,	78,	'Kings XI Punjab',	'Rajasthan Royals',	'Kings XI Punjab',	'field',	'Rajasthan Royals',	'runs',	'IL Howell',	'N',	'NA',	'SS Hazare',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392208,	'5/3/2009',	'JH Kallis',	19,	9,	'Royal Challengers Bangalore',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Royal Challengers Bangalore',	'wickets',	'TH Wijewardene',	'N',	'NA',	'RE Koertzen',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392211,	'5/5/2009',	'G Gambhir',	24,	9,	'Delhi Daredevils',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'bat',	'Delhi Daredevils',	'wickets',	'IL Howell',	'N',	'NA',	'GAV Baxter',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392212,	'5/6/2009',	'RG Sharma',	32,	19,	'Deccan Chargers',	'Mumbai Indians',	'Deccan Chargers',	'bat',	'Deccan Chargers',	'runs',	'HDPK Dharmasena',	'N',	'NA',	'MR Benson',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392213,	'5/7/2009',	'A Singh',	32,	7,	'Royal Challengers Bangalore',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'DJ Harper',	'N',	'NA',	'K Hariharan',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392214,	'5/7/2009',	'ML Hayden',	32,	12,	'Chennai Super Kings',	'Kings XI Punjab',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'TH Wijewardene',	'N',	'D/L',	'DJ Harper',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392215,	'5/8/2009',	'A Nehra',	23,	7,	'Delhi Daredevils',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Delhi Daredevils',	'wickets',	'SK Tarapore',	'N',	'NA',	'M Erasmus',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392216,	'5/9/2009',	'DPMD Jayawardene',	17,	3,	'Deccan Chargers',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'AM Saheba',	'N',	'NA',	'GAV Baxter',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392217,	'5/9/2009',	'S Badrinath',	17,	7,	'Chennai Super Kings',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Chennai Super Kings',	'wickets',	'HDPK Dharmasena',	'N',	'NA',	'GAV Baxter',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392218,	'5/10/2009',	'JP Duminy',	8,	16,	'Royal Challengers Bangalore',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'BG Jerling',	'N',	'NA',	'BR Doctrove',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392219,	'5/10/2009',	'A Mishra',	19,	7,	'Delhi Daredevils',	'Kolkata Knight Riders',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'RB Tiffin',	'N',	'NA',	'SL Shastri',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392220,	'5/11/2009',	'DR Smith',	17,	53,	'Deccan Chargers',	'Rajasthan Royals',	'Deccan Chargers',	'bat',	'Deccan Chargers',	'runs',	'HDPK Dharmasena',	'N',	'NA',	'GAV Baxter',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392221,	'5/12/2009',	'LRPL Taylor',	32,	6,	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'SS Hazare',	'N',	'NA',	'M Erasmus',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392222,	'5/12/2009',	'Harbhajan Singh',	32,	8,	'Kings XI Punjab',	'Mumbai Indians',	'Kings XI Punjab',	'bat',	'Mumbai Indians',	'wickets',	'RE Koertzen',	'N',	'NA',	'SS Hazare',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392223,	'5/13/2009',	'R Bhatia',	24,	12,	'Deccan Chargers',	'Delhi Daredevils',	'Deccan Chargers',	'field',	'Delhi Daredevils',	'runs',	'SL Shastri',	'N',	'NA',	'DJ Harper',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392224,	'5/14/2009',	'LRPL Taylor',	24,	2,	'Royal Challengers Bangalore',	'Chennai Super Kings',	'Chennai Super Kings',	'bat',	'Royal Challengers Bangalore',	'wickets',	'DJ Harper',	'N',	'NA',	'BR Doctrove',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392225,	'5/14/2009',	'SK Warne',	24,	2,	'Mumbai Indians',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Rajasthan Royals',	'runs',	'DJ Harper',	'N',	'NA',	'BR Doctrove',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392226,	'5/15/2009',	'B Lee',	34,	6,	'Delhi Daredevils',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'IL Howell',	'N',	'NA',	'HDPK Dharmasena',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392227,	'5/16/2009',	'ML Hayden',	8,	7,	'Chennai Super Kings',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Chennai Super Kings',	'wickets',	'SJA Taufel',	'N',	'NA',	'SK Tarapore',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392228,	'5/16/2009',	'RG Sharma',	19,	6,	'Deccan Chargers',	'Kolkata Knight Riders',	'Deccan Chargers',	'field',	'Deccan Chargers',	'wickets',	'S Ravi',	'N',	'NA',	'RE Koertzen',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392229,	'5/17/2009',	'Yuvraj Singh',	19,	1,	'Deccan Chargers',	'Kings XI Punjab',	'Deccan Chargers',	'field',	'Kings XI Punjab',	'runs',	'RB Tiffin',	'N',	'NA',	'S Ravi',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392230,	'5/17/2009',	'AB de Villiers',	34,	14,	'Delhi Daredevils',	'Rajasthan Royals',	'Delhi Daredevils',	'bat',	'Delhi Daredevils',	'runs',	'IL Howell',	'N',	'NA',	'SS Hazare',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392231,	'5/18/2009',	'BJ Hodge',	32,	7,	'Chennai Super Kings',	'Kolkata Knight Riders',	'Chennai Super Kings',	'bat',	'Kolkata Knight Riders',	'wickets',	'RB Tiffin',	'N',	'NA',	'SJA Taufel',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392232,	'5/19/2009',	'JH Kallis',	19,	7,	'Royal Challengers Bangalore',	'Delhi Daredevils',	'Delhi Daredevils',	'bat',	'Royal Challengers Bangalore',	'wickets',	'RB Tiffin',	'N',	'NA',	'IL Howell',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392233,	'5/20/2009',	'LR Shukla',	24,	4,	'Kolkata Knight Riders',	'Rajasthan Royals',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'SJA Taufel',	'N',	'NA',	'BG Jerling',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392234,	'5/20/2009',	'M Muralitharan',	24,	24,	'Chennai Super Kings',	'Kings XI Punjab',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'SJA Taufel',	'N',	'NA',	'BG Jerling',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392235,	'5/21/2009',	'V Sehwag',	32,	4,	'Delhi Daredevils',	'Mumbai Indians',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'S Ravi',	'N',	'NA',	'IL Howell',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392236,	'5/21/2009',	'MK Pandey',	32,	12,	'Royal Challengers Bangalore',	'Deccan Chargers',	'Royal Challengers Bangalore',	'bat',	'Royal Challengers Bangalore',	'runs',	'S Ravi',	'N',	'NA',	'IL Howell',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392237,	'5/22/2009',	'AC Gilchrist',	32,	6,	'Delhi Daredevils',	'Deccan Chargers',	'Deccan Chargers',	'field',	'Deccan Chargers',	'wickets',	'DJ Harper',	'N',	'NA',	'BR Doctrove',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392238,	'5/23/2009',	'MK Pandey',	19,	6,	'Royal Challengers Bangalore',	'Chennai Super Kings',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'SJA Taufel',	'N',	'NA',	'RE Koertzen',	1	)");
conn.execute("INSERT INTO ipl_matches values(	392239,	'5/24/2009',	'A Kumble',	19,	6,	'Royal Challengers Bangalore',	'Deccan Chargers',	'Royal Challengers Bangalore',	'field',	'Deccan Chargers',	'runs',	'SJA Taufel',	'N',	'NA',	'RE Koertzen',	1	)");
conn.execute("INSERT INTO ipl_matches values(	419106,	'3/12/2010',	'AD Mathews',	13,	11,	'Deccan Chargers',	'Kolkata Knight Riders',	'Deccan Chargers',	'field',	'Kolkata Knight Riders',	'runs',	'RB Tiffin',	'N',	'NA',	'RE Koertzen',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419107,	'3/13/2010',	'YK Pathan',	12,	4,	'Mumbai Indians',	'Rajasthan Royals',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'RB Tiffin',	'N',	'NA',	'RE Koertzen',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419108,	'3/13/2010',	'G Gambhir',	31,	5,	'Kings XI Punjab',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'S Ravi',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419109,	'3/14/2010',	'MK Tiwary',	15,	7,	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'AM Saheba',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419110,	'3/14/2010',	'WPUJC Vaas',	29,	31,	'Chennai Super Kings',	'Deccan Chargers',	'Deccan Chargers',	'bat',	'Deccan Chargers',	'runs',	'DJ Harper',	'N',	'NA',	'K Hariharan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419111,	'3/15/2010',	'V Sehwag',	37,	6,	'Rajasthan Royals',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'RE Koertzen',	'N',	'NA',	'BG Jerling',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419112,	'3/16/2010',	'JH Kallis',	35,	8,	'Royal Challengers Bangalore',	'Kings XI Punjab',	'Kings XI Punjab',	'bat',	'Royal Challengers Bangalore',	'wickets',	'DJ Harper',	'N',	'NA',	'S Das',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419113,	'3/16/2010',	'MS Dhoni',	15,	55,	'Kolkata Knight Riders',	'Chennai Super Kings',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'AM Saheba',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419114,	'3/17/2010',	'SR Tendulkar',	27,	98,	'Delhi Daredevils',	'Mumbai Indians',	'Delhi Daredevils',	'field',	'Mumbai Indians',	'runs',	'SK Tarapore',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419115,	'3/18/2010',	'JH Kallis',	35,	10,	'Royal Challengers Bangalore',	'Rajasthan Royals',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'DJ Harper',	'N',	'NA',	'K Hariharan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419116,	'3/19/2010',	'ML Hayden',	27,	5,	'Delhi Daredevils',	'Chennai Super Kings',	'Delhi Daredevils',	'bat',	'Chennai Super Kings',	'wickets',	'SK Tarapore',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419117,	'3/19/2010',	'A Symonds',	28,	6,	'Deccan Chargers',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Deccan Chargers',	'runs',	'M Erasmus',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419118,	'3/20/2010',	'AA Jhunjhunwala',	37,	34,	'Rajasthan Royals',	'Kolkata Knight Riders',	'Rajasthan Royals',	'bat',	'Rajasthan Royals',	'runs',	'RB Tiffin',	'N',	'NA',	'RE Koertzen',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419119,	'3/20/2010',	'JH Kallis',	12,	7,	'Mumbai Indians',	'Royal Challengers Bangalore',	'Mumbai Indians',	'bat',	'Royal Challengers Bangalore',	'wickets',	'SS Hazare',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419120,	'3/21/2010',	'A Symonds',	28,	10,	'Deccan Chargers',	'Delhi Daredevils',	'Deccan Chargers',	'bat',	'Deccan Chargers',	'runs',	'M Erasmus',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419121,	'3/21/2010',	'J Theron',	29,	'NA',	'Chennai Super Kings',	'Kings XI Punjab',	'Chennai Super Kings',	'field',	'Kings XI Punjab',	'tie',	'DJ Harper',	'Y',	'NA',	'K Hariharan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419122,	'3/22/2010',	'SR Tendulkar',	12,	7,	'Mumbai Indians',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'bat',	'Mumbai Indians',	'wickets',	'SJA Taufel',	'N',	'NA',	'SS Hazare',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419123,	'3/23/2010',	'RV Uthappa',	35,	36,	'Royal Challengers Bangalore',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Royal Challengers Bangalore',	'runs',	'RB Tiffin',	'N',	'NA',	'RE Koertzen',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419124,	'3/24/2010',	'AC Voges',	31,	31,	'Kings XI Punjab',	'Rajasthan Royals',	'Kings XI Punjab',	'field',	'Rajasthan Royals',	'runs',	'SK Tarapore',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419125,	'3/25/2010',	'SR Tendulkar',	12,	5,	'Mumbai Indians',	'Chennai Super Kings',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'AM Saheba',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419126,	'3/26/2010',	'YK Pathan',	37,	8,	'Rajasthan Royals',	'Deccan Chargers',	'Deccan Chargers',	'bat',	'Rajasthan Royals',	'wickets',	'SJA Taufel',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419127,	'3/27/2010',	'MK Tiwary',	31,	39,	'Kings XI Punjab',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'bat',	'Kolkata Knight Riders',	'runs',	'S Ravi',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419128,	'3/25/2010',	'KM Jadhav',	35,	17,	'Royal Challengers Bangalore',	'Delhi Daredevils',	'Royal Challengers Bangalore',	'field',	'Delhi Daredevils',	'runs',	'RE Koertzen',	'N',	'NA',	'BG Jerling',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419129,	'3/28/2010',	'NV Ojha',	37,	17,	'Rajasthan Royals',	'Chennai Super Kings',	'Rajasthan Royals',	'bat',	'Rajasthan Royals',	'runs',	'SJA Taufel',	'N',	'NA',	'SS Hazare',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419130,	'3/28/2010',	'Harbhajan Singh',	13,	41,	'Deccan Chargers',	'Mumbai Indians',	'Deccan Chargers',	'field',	'Mumbai Indians',	'runs',	'K Hariharan',	'N',	'NA',	'S Das',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419131,	'3/29/2010',	'DA Warner',	27,	40,	'Delhi Daredevils',	'Kolkata Knight Riders',	'Delhi Daredevils',	'bat',	'Delhi Daredevils',	'runs',	'SJA Taufel',	'N',	'NA',	'SS Hazare',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419132,	'3/30/2010',	'SL Malinga',	12,	4,	'Mumbai Indians',	'Kings XI Punjab',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'SK Tarapore',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419133,	'3/31/2010',	'M Vijay',	29,	5,	'Chennai Super Kings',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'bat',	'Chennai Super Kings',	'wickets',	'RE Koertzen',	'N',	'NA',	'BG Jerling',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419134,	'3/31/2010',	'KD Karthik',	27,	67,	'Delhi Daredevils',	'Rajasthan Royals',	'Delhi Daredevils',	'bat',	'Delhi Daredevils',	'runs',	'SJA Taufel',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419135,	'4/1/2010',	'SC Ganguly',	15,	24,	'Kolkata Knight Riders',	'Deccan Chargers',	'Kolkata Knight Riders',	'bat',	'Kolkata Knight Riders',	'runs',	'DJ Harper',	'N',	'NA',	'K Hariharan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419136,	'4/2/2010',	'KP Pietersen',	31,	6,	'Kings XI Punjab',	'Royal Challengers Bangalore',	'Kings XI Punjab',	'bat',	'Royal Challengers Bangalore',	'wickets',	'M Erasmus',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419137,	'4/3/2010',	'M Vijay',	29,	23,	'Chennai Super Kings',	'Rajasthan Royals',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'RB Tiffin',	'N',	'NA',	'RE Koertzen',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419138,	'4/3/2010',	'AT Rayudu',	12,	63,	'Mumbai Indians',	'Deccan Chargers',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'S Ravi',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419139,	'4/4/2010',	'DPMD Jayawardene',	15,	8,	'Kolkata Knight Riders',	'Kings XI Punjab',	'Kolkata Knight Riders',	'bat',	'Kings XI Punjab',	'wickets',	'DJ Harper',	'N',	'NA',	'S Asnani',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419140,	'4/4/2010',	'PD Collingwood',	27,	37,	'Delhi Daredevils',	'Royal Challengers Bangalore',	'Delhi Daredevils',	'bat',	'Delhi Daredevils',	'runs',	'M Erasmus',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419141,	'4/5/2010',	'SK Warne',	9,	2,	'Deccan Chargers',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Rajasthan Royals',	'runs',	'SJA Taufel',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419142,	'4/6/2010',	'SK Raina',	29,	24,	'Chennai Super Kings',	'Mumbai Indians',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'DJ Harper',	'N',	'NA',	'S Asnani',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419143,	'4/7/2010',	'MJ Lumb',	20,	9,	'Rajasthan Royals',	'Kings XI Punjab',	'Kings XI Punjab',	'bat',	'Rajasthan Royals',	'wickets',	'SK Tarapore',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419144,	'4/7/2010',	'SC Ganguly',	15,	14,	'Kolkata Knight Riders',	'Delhi Daredevils',	'Kolkata Knight Riders',	'bat',	'Kolkata Knight Riders',	'runs',	'RE Koertzen',	'N',	'NA',	'BG Jerling',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419145,	'4/8/2010',	'TL Suman',	35,	7,	'Royal Challengers Bangalore',	'Deccan Chargers',	'Deccan Chargers',	'field',	'Deccan Chargers',	'wickets',	'DJ Harper',	'N',	'NA',	'S Asnani',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419146,	'4/9/2010',	'KC Sangakkara',	31,	6,	'Kings XI Punjab',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Kings XI Punjab',	'wickets',	'AM Saheba',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419147,	'4/10/2010',	'RJ Harris',	9,	6,	'Deccan Chargers',	'Chennai Super Kings',	'Chennai Super Kings',	'bat',	'Deccan Chargers',	'wickets',	'SJA Taufel',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419148,	'4/10/2010',	'R Vinay Kumar',	35,	7,	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'DJ Harper',	'N',	'NA',	'K Hariharan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419149,	'4/11/2010',	'PP Chawla',	27,	7,	'Delhi Daredevils',	'Kings XI Punjab',	'Delhi Daredevils',	'bat',	'Kings XI Punjab',	'wickets',	'AM Saheba',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419150,	'4/11/2010',	'SR Tendulkar',	20,	37,	'Rajasthan Royals',	'Mumbai Indians',	'Rajasthan Royals',	'field',	'Mumbai Indians',	'runs',	'SK Tarapore',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419151,	'4/12/2010',	'Harmeet Singh',	9,	13,	'Deccan Chargers',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Deccan Chargers',	'runs',	'RB Tiffin',	'N',	'NA',	'RE Koertzen',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419152,	'4/13/2010',	'KA Pollard',	12,	39,	'Mumbai Indians',	'Delhi Daredevils',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'DJ Harper',	'N',	'NA',	'S Asnani',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419153,	'4/13/2010',	'R Ashwin',	29,	9,	'Chennai Super Kings',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'bat',	'Chennai Super Kings',	'wickets',	'SJA Taufel',	'N',	'NA',	'SS Hazare',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419154,	'4/14/2010',	'KP Pietersen',	20,	5,	'Rajasthan Royals',	'Royal Challengers Bangalore',	'Rajasthan Royals',	'bat',	'Royal Challengers Bangalore',	'wickets',	'S Ravi',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419155,	'4/15/2010',	'G Gambhir',	29,	6,	'Chennai Super Kings',	'Delhi Daredevils',	'Chennai Super Kings',	'bat',	'Delhi Daredevils',	'wickets',	'SS Hazare',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419156,	'4/16/2010',	'RG Sharma',	26,	5,	'Kings XI Punjab',	'Deccan Chargers',	'Deccan Chargers',	'field',	'Deccan Chargers',	'wickets',	'AM Saheba',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419157,	'4/17/2010',	'R McLaren',	35,	57,	'Royal Challengers Bangalore',	'Mumbai Indians',	'Royal Challengers Bangalore',	'field',	'Mumbai Indians',	'runs',	'SJA Taufel',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419158,	'4/17/2010',	'JD Unadkat',	15,	8,	'Kolkata Knight Riders',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Kolkata Knight Riders',	'wickets',	'RB Tiffin',	'N',	'NA',	'BG Jerling',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419160,	'4/18/2010',	'A Symonds',	27,	11,	'Delhi Daredevils',	'Deccan Chargers',	'Deccan Chargers',	'bat',	'Deccan Chargers',	'runs',	'SK Tarapore',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419161,	'4/19/2010',	'M Kartik',	15,	9,	'Kolkata Knight Riders',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Kolkata Knight Riders',	'wickets',	'RE Koertzen',	'N',	'NA',	'BG Jerling',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419159,	'4/18/2010',	'MS Dhoni',	26,	6,	'Kings XI Punjab',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'AM Saheba',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419162,	'4/21/2010',	'KA Pollard',	13,	35,	'Royal Challengers Bangalore',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'RB Tiffin',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419163,	'4/22/2010',	'DE Bollinger',	13,	38,	'Chennai Super Kings',	'Deccan Chargers',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'RB Tiffin',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419164,	'4/24/2010',	'A Kumble',	13,	9,	'Royal Challengers Bangalore',	'Deccan Chargers',	'Deccan Chargers',	'bat',	'Royal Challengers Bangalore',	'wickets',	'SJA Taufel',	'N',	'NA',	'RE Koertzen',	0	)");
conn.execute("INSERT INTO ipl_matches values(	419165,	'4/25/2010',	'SK Raina',	13,	22,	'Chennai Super Kings',	'Mumbai Indians',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'SJA Taufel',	'N',	'NA',	'RE Koertzen',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501198,	'4/8/2011',	'S Anirudha',	29,	2,	'Chennai Super Kings',	'Kolkata Knight Riders',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'PR Reiffel',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501199,	'4/9/2011',	'SK Trivedi',	22,	8,	'Deccan Chargers',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'SK Tarapore',	'N',	'NA',	'RE Koertzen',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501200,	'4/9/2011',	'AB de Villiers',	16,	6,	'Kochi Tuskers Kerala',	'Royal Challengers Bangalore',	'Kochi Tuskers Kerala',	'bat',	'Royal Challengers Bangalore',	'wickets',	'K Hariharan',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501201,	'4/10/2011',	'SL Malinga',	27,	8,	'Delhi Daredevils',	'Mumbai Indians',	'Delhi Daredevils',	'bat',	'Mumbai Indians',	'wickets',	'RB Tiffin',	'N',	'NA',	'AM Saheba',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501202,	'4/10/2011',	'SB Wagh',	13,	7,	'Pune Warriors',	'Kings XI Punjab',	'Kings XI Punjab',	'bat',	'Pune Warriors',	'wickets',	'PR Reiffel',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501203,	'4/11/2011',	'JH Kallis',	15,	9,	'Kolkata Knight Riders',	'Deccan Chargers',	'Kolkata Knight Riders',	'bat',	'Kolkata Knight Riders',	'runs',	'SK Tarapore',	'N',	'NA',	'RE Koertzen',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501204,	'4/12/2011',	'SK Warne',	20,	6,	'Rajasthan Royals',	'Delhi Daredevils',	'Delhi Daredevils',	'bat',	'Rajasthan Royals',	'wickets',	'RB Tiffin',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501205,	'4/12/2011',	'SR Tendulkar',	35,	9,	'Royal Challengers Bangalore',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'AL Hill',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501206,	'4/13/2011',	'PC Valthaty',	31,	6,	'Kings XI Punjab',	'Chennai Super Kings',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'SL Shastri',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501207,	'4/13/2011',	'MD Mishra',	13,	4,	'Pune Warriors',	'Kochi Tuskers Kerala',	'Kochi Tuskers Kerala',	'bat',	'Pune Warriors',	'wickets',	'PR Reiffel',	'N',	'NA',	'S Asnani',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501208,	'4/14/2011',	'DW Steyn',	22,	33,	'Deccan Chargers',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Deccan Chargers',	'runs',	'S Ravi',	'N',	'NA',	'RE Koertzen',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501209,	'4/15/2011',	'G Gambhir',	20,	9,	'Rajasthan Royals',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'SS Hazare',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501210,	'4/15/2011',	'BB McCullum',	14,	8,	'Mumbai Indians',	'Kochi Tuskers Kerala',	'Kochi Tuskers Kerala',	'field',	'Kochi Tuskers Kerala',	'wickets',	'PR Reiffel',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501233,	'4/30/2011',	'V Sehwag',	16,	38,	'Kochi Tuskers Kerala',	'Delhi Daredevils',	'Delhi Daredevils',	'bat',	'Delhi Daredevils',	'runs',	'AL Hill',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501234,	'4/30/2011',	'Iqbal Abdulla',	15,	8,	'Kolkata Knight Riders',	'Kings XI Punjab',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'SL Shastri',	'N',	'NA',	'AM Saheba',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501235,	'5/1/2011',	'LRPL Taylor',	20,	6,	'Rajasthan Royals',	'Pune Warriors',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'SJA Taufel',	'N',	'NA',	'SK Tarapore',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501211,	'4/16/2011',	'MEK Hussey',	29,	21,	'Chennai Super Kings',	'Royal Challengers Bangalore',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'AL Hill',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501212,	'4/16/2011',	'PC Valthaty',	22,	8,	'Deccan Chargers',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'S Ravi',	'N',	'NA',	'RE Koertzen',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501213,	'4/17/2011',	'Yuvraj Singh',	13,	3,	'Pune Warriors',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'AM Saheba',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501214,	'4/17/2011',	'L Balaji',	15,	8,	'Kolkata Knight Riders',	'Rajasthan Royals',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'RB Tiffin',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501215,	'4/18/2011',	'BB McCullum',	16,	7,	'Kochi Tuskers Kerala',	'Chennai Super Kings',	'Kochi Tuskers Kerala',	'field',	'Kochi Tuskers Kerala',	'wickets',	'AL Hill',	'N',	'D/L',	'K Hariharan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501216,	'4/19/2011',	'S Sohal',	27,	16,	'Delhi Daredevils',	'Deccan Chargers',	'Deccan Chargers',	'bat',	'Deccan Chargers',	'runs',	'RJ Tucker',	'N',	'NA',	'PR Reiffel',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501218,	'4/20/2011',	'MM Patel',	14,	7,	'Mumbai Indians',	'Pune Warriors',	'Pune Warriors',	'bat',	'Mumbai Indians',	'wickets',	'AM Saheba',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501219,	'4/20/2011',	'DPMD Jayawardene',	15,	6,	'Kolkata Knight Riders',	'Kochi Tuskers Kerala',	'Kolkata Knight Riders',	'field',	'Kochi Tuskers Kerala',	'runs',	'RB Tiffin',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501220,	'4/21/2011',	'SE Marsh',	31,	48,	'Kings XI Punjab',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Kings XI Punjab',	'runs',	'PR Reiffel',	'N',	'NA',	'S Asnani',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501221,	'4/22/2011',	'Harbhajan Singh',	14,	8,	'Mumbai Indians',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Mumbai Indians',	'runs',	'AM Saheba',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501222,	'4/22/2011',	'CH Gayle',	15,	9,	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'RB Tiffin',	'N',	'NA',	'SS Hazare',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501223,	'4/23/2011',	'DA Warner',	27,	29,	'Delhi Daredevils',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Delhi Daredevils',	'runs',	'RE Koertzen',	'N',	'NA',	'S Asnani',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501224,	'4/24/2011',	'SL Malinga',	22,	37,	'Deccan Chargers',	'Mumbai Indians',	'Deccan Chargers',	'field',	'Mumbai Indians',	'runs',	'AL Hill',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501225,	'4/24/2011',	'SK Warne',	20,	8,	'Rajasthan Royals',	'Kochi Tuskers Kerala',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'SK Tarapore',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501226,	'4/25/2011',	'MEK Hussey',	29,	25,	'Chennai Super Kings',	'Pune Warriors',	'Pune Warriors',	'field',	'Chennai Super Kings',	'runs',	'RB Tiffin',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501227,	'4/26/2011',	'V Kohli',	27,	3,	'Delhi Daredevils',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'RJ Tucker',	'N',	'NA',	'S Asnani',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501228,	'4/27/2011',	'DE Bollinger',	13,	8,	'Pune Warriors',	'Chennai Super Kings',	'Pune Warriors',	'bat',	'Chennai Super Kings',	'wickets',	'SL Shastri',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501229,	'4/27/2011',	'I Sharma',	16,	55,	'Kochi Tuskers Kerala',	'Deccan Chargers',	'Kochi Tuskers Kerala',	'field',	'Deccan Chargers',	'runs',	'AL Hill',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501230,	'4/28/2011',	'MK Tiwary',	27,	17,	'Delhi Daredevils',	'Kolkata Knight Riders',	'Delhi Daredevils',	'field',	'Kolkata Knight Riders',	'runs',	'RJ Tucker',	'N',	'NA',	'PR Reiffel',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501231,	'4/29/2011',	'J Botha',	20,	7,	'Rajasthan Royals',	'Mumbai Indians',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'SK Tarapore',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501232,	'4/29/2011',	'V Kohli',	35,	26,	'Royal Challengers Bangalore',	'Pune Warriors',	'Pune Warriors',	'field',	'Royal Challengers Bangalore',	'runs',	'SS Hazare',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501236,	'5/1/2011',	'JA Morkel',	29,	19,	'Chennai Super Kings',	'Deccan Chargers',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'RB Tiffin',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501237,	'5/2/2011',	'KA Pollard',	14,	23,	'Mumbai Indians',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Mumbai Indians',	'runs',	'PR Reiffel',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501238,	'5/2/2011',	'P Parameswaran',	27,	7,	'Delhi Daredevils',	'Kochi Tuskers Kerala',	'Kochi Tuskers Kerala',	'field',	'Kochi Tuskers Kerala',	'wickets',	'SL Shastri',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501239,	'5/3/2011',	'YK Pathan',	22,	20,	'Deccan Chargers',	'Kolkata Knight Riders',	'Deccan Chargers',	'field',	'Kolkata Knight Riders',	'runs',	'RJ Tucker',	'N',	'NA',	'S Asnani',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501240,	'5/4/2011',	'MEK Hussey',	29,	8,	'Chennai Super Kings',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Chennai Super Kings',	'wickets',	'RB Tiffin',	'N',	'NA',	'SS Hazare',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501241,	'5/4/2011',	'R Sharma',	13,	21,	'Pune Warriors',	'Mumbai Indians',	'Pune Warriors',	'field',	'Mumbai Indians',	'runs',	'SJA Taufel',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501242,	'5/5/2011',	'BJ Hodge',	16,	17,	'Kochi Tuskers Kerala',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kochi Tuskers Kerala',	'runs',	'RJ Tucker',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501243,	'5/5/2011',	'V Sehwag',	22,	4,	'Deccan Chargers',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'AM Saheba',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501244,	'5/6/2011',	'CH Gayle',	35,	85,	'Royal Challengers Bangalore',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Royal Challengers Bangalore',	'runs',	'RB Tiffin',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501245,	'5/7/2011',	'Iqbal Abdulla',	15,	10,	'Kolkata Knight Riders',	'Chennai Super Kings',	'Chennai Super Kings',	'bat',	'Kolkata Knight Riders',	'runs',	'PR Reiffel',	'N',	'D/L',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501246,	'5/7/2011',	'AT Rayudu',	14,	32,	'Mumbai Indians',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Mumbai Indians',	'runs',	'SJA Taufel',	'N',	'NA',	'K Hariharan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501247,	'5/8/2011',	'CH Gayle',	35,	9,	'Royal Challengers Bangalore',	'Kochi Tuskers Kerala',	'Kochi Tuskers Kerala',	'bat',	'Royal Challengers Bangalore',	'wickets',	'SS Hazare',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501248,	'5/8/2011',	'R Sharma',	31,	5,	'Kings XI Punjab',	'Pune Warriors',	'Kings XI Punjab',	'bat',	'Pune Warriors',	'wickets',	'RJ Tucker',	'N',	'NA',	'SK Tarapore',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501249,	'5/9/2011',	'M Vijay',	20,	63,	'Rajasthan Royals',	'Chennai Super Kings',	'Rajasthan Royals',	'field',	'Chennai Super Kings',	'runs',	'SJA Taufel',	'N',	'NA',	'K Hariharan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501250,	'5/10/2011',	'MR Marsh',	22,	6,	'Deccan Chargers',	'Pune Warriors',	'Deccan Chargers',	'bat',	'Pune Warriors',	'wickets',	'AM Saheba',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501251,	'5/10/2011',	'BA Bhatt',	31,	76,	'Kings XI Punjab',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Kings XI Punjab',	'runs',	'RJ Tucker',	'N',	'NA',	'SK Tarapore',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501252,	'5/11/2011',	'S Aravind',	20,	9,	'Rajasthan Royals',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'K Hariharan',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501253,	'5/12/2011',	'MS Dhoni',	29,	18,	'Chennai Super Kings',	'Delhi Daredevils',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'SL Shastri',	'N',	'NA',	'AM Saheba',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501254,	'5/13/2011',	'KD Karthik',	21,	6,	'Kochi Tuskers Kerala',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'RJ Tucker',	'N',	'NA',	'S Asnani',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501256,	'5/14/2011',	'A Mishra',	14,	10,	'Mumbai Indians',	'Deccan Chargers',	'Deccan Chargers',	'bat',	'Deccan Chargers',	'runs',	'SK Tarapore',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501257,	'5/15/2011',	'PP Chawla',	26,	29,	'Kings XI Punjab',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Kings XI Punjab',	'runs',	'SL Shastri',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501255,	'5/14/2011',	'CH Gayle',	35,	4,	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'RB Tiffin',	'N',	'D/L',	'RE Koertzen',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501258,	'5/15/2011',	'BJ Hodge',	21,	8,	'Kochi Tuskers Kerala',	'Rajasthan Royals',	'Kochi Tuskers Kerala',	'field',	'Kochi Tuskers Kerala',	'wickets',	'RJ Tucker',	'N',	'NA',	'PR Reiffel',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501259,	'5/16/2011',	'A Mishra',	13,	6,	'Pune Warriors',	'Deccan Chargers',	'Deccan Chargers',	'field',	'Deccan Chargers',	'wickets',	'SK Tarapore',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501260,	'5/17/2011',	'AC Gilchrist',	26,	111,	'Kings XI Punjab',	'Royal Challengers Bangalore',	'Kings XI Punjab',	'bat',	'Kings XI Punjab',	'runs',	'AM Saheba',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501261,	'5/18/2011',	'WP Saha',	29,	11,	'Chennai Super Kings',	'Kochi Tuskers Kerala',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'RE Koertzen',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501262,	'5/19/2011',	'YK Pathan',	13,	7,	'Pune Warriors',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'SJA Taufel',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501263,	'5/20/2011',	'SR Watson',	14,	10,	'Mumbai Indians',	'Rajasthan Royals',	'Mumbai Indians',	'bat',	'Rajasthan Royals',	'wickets',	'PR Reiffel',	'N',	'NA',	'RE Koertzen',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501264,	'5/21/2011',	'S Dhawan',	26,	82,	'Kings XI Punjab',	'Deccan Chargers',	'Kings XI Punjab',	'field',	'Deccan Chargers',	'runs',	'AM Saheba',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501265,	'5/21/2011',	'NA',	27,	'NA',	'Delhi Daredevils',	'Pune Warriors',	'Delhi Daredevils',	'bat',	'NA',	'NA',	'RJ Tucker',	'NA',	'NA',	'SS Hazare',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501266,	'5/22/2011',	'CH Gayle',	35,	8,	'Royal Challengers Bangalore',	'Chennai Super Kings',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'RE Koertzen',	'N',	'NA',	'K Hariharan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501267,	'5/22/2011',	'JEC Franklin',	15,	5,	'Kolkata Knight Riders',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'SJA Taufel',	'N',	'NA',	'SK Tarapore',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501268,	'5/24/2011',	'SK Raina',	14,	6,	'Royal Challengers Bangalore',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'SJA Taufel',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501269,	'5/25/2011',	'MM Patel',	14,	4,	'Mumbai Indians',	'Kolkata Knight Riders',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'SJA Taufel',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501270,	'5/27/2011',	'CH Gayle',	29,	43,	'Royal Challengers Bangalore',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Royal Challengers Bangalore',	'runs',	'SJA Taufel',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	501271,	'5/28/2011',	'M Vijay',	29,	58,	'Chennai Super Kings',	'Royal Challengers Bangalore',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'SJA Taufel',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548306,	'4/4/2012',	'RE Levi',	29,	8,	'Chennai Super Kings',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'SJA Taufel',	'N',	'NA',	'JD Cloete',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548307,	'4/5/2012',	'IK Pathan',	15,	8,	'Kolkata Knight Riders',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'HDPK Dharmasena',	'N',	'NA',	'S Asnani',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548308,	'4/6/2012',	'SPD Smith',	14,	28,	'Mumbai Indians',	'Pune Warriors',	'Mumbai Indians',	'field',	'Pune Warriors',	'runs',	'SJA Taufel',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548309,	'4/6/2012',	'AM Rahane',	20,	31,	'Rajasthan Royals',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Rajasthan Royals',	'runs',	'SK Tarapore',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548310,	'4/7/2012',	'AB de Villiers',	35,	20,	'Royal Challengers Bangalore',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Royal Challengers Bangalore',	'runs',	'S Ravi',	'N',	'NA',	'S Asnani',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548333,	'4/21/2012',	'SC Ganguly',	27,	20,	'Delhi Daredevils',	'Pune Warriors',	'Delhi Daredevils',	'field',	'Pune Warriors',	'runs',	'S Das',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548311,	'4/7/2012',	'RA Jadeja',	1,	74,	'Deccan Chargers',	'Chennai Super Kings',	'Deccan Chargers',	'field',	'Chennai Super Kings',	'runs',	'HDPK Dharmasena',	'N',	'NA',	'JD Cloete',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548312,	'4/8/2012',	'BJ Hodge',	20,	22,	'Rajasthan Royals',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Rajasthan Royals',	'runs',	'VA Kulkarni',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548313,	'4/8/2012',	'MN Samuels',	7,	22,	'Pune Warriors',	'Kings XI Punjab',	'Pune Warriors',	'bat',	'Pune Warriors',	'runs',	'SJA Taufel',	'N',	'NA',	'S Das',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548314,	'4/9/2012',	'RG Sharma',	1,	5,	'Deccan Chargers',	'Mumbai Indians',	'Deccan Chargers',	'bat',	'Mumbai Indians',	'wickets',	'JD Cloete',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548315,	'4/10/2012',	'L Balaji',	35,	42,	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'field',	'Kolkata Knight Riders',	'runs',	'RJ Tucker',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548316,	'4/10/2012',	'M Morkel',	27,	8,	'Delhi Daredevils',	'Chennai Super Kings',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'SK Tarapore',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548317,	'4/11/2012',	'KA Pollard',	14,	27,	'Mumbai Indians',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Mumbai Indians',	'runs',	'BNJ Oxenford',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548318,	'4/12/2012',	'F du Plessis',	29,	5,	'Chennai Super Kings',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'bat',	'Chennai Super Kings',	'wickets',	'RJ Tucker',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548319,	'4/12/2012',	'AD Mascarenhas',	31,	7,	'Kings XI Punjab',	'Pune Warriors',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'SK Tarapore',	'N',	'NA',	'VA Kulkarni',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548320,	'4/13/2012',	'Shakib Al Hasan',	15,	5,	'Kolkata Knight Riders',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Kolkata Knight Riders',	'wickets',	'S Asnani',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548321,	'4/19/2012',	'KP Pietersen',	27,	5,	'Delhi Daredevils',	'Deccan Chargers',	'Deccan Chargers',	'bat',	'Delhi Daredevils',	'wickets',	'SK Tarapore',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548322,	'4/14/2012',	'JD Ryder',	7,	7,	'Pune Warriors',	'Chennai Super Kings',	'Chennai Super Kings',	'bat',	'Pune Warriors',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548323,	'4/15/2012',	'SP Narine',	15,	2,	'Kolkata Knight Riders',	'Kings XI Punjab',	'Kolkata Knight Riders',	'field',	'Kings XI Punjab',	'runs',	'S Asnani',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548324,	'4/15/2012',	'AM Rahane',	35,	59,	'Royal Challengers Bangalore',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Rajasthan Royals',	'runs',	'RJ Tucker',	'N',	'NA',	'JD Cloete',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548325,	'4/16/2012',	'S Nadeem',	14,	7,	'Mumbai Indians',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'SK Tarapore',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548326,	'4/17/2012',	'BJ Hodge',	20,	5,	'Rajasthan Royals',	'Deccan Chargers',	'Deccan Chargers',	'bat',	'Rajasthan Royals',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548327,	'4/17/2012',	'CH Gayle',	35,	6,	'Royal Challengers Bangalore',	'Pune Warriors',	'Pune Warriors',	'bat',	'Royal Challengers Bangalore',	'wickets',	'S Das',	'N',	'NA',	'S Asnani',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548328,	'4/18/2012',	'G Gambhir',	31,	8,	'Kings XI Punjab',	'Kolkata Knight Riders',	'Kings XI Punjab',	'bat',	'Kolkata Knight Riders',	'wickets',	'RJ Tucker',	'N',	'NA',	'JD Cloete',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548329,	'5/10/2012',	'DA Warner',	22,	9,	'Deccan Chargers',	'Delhi Daredevils',	'Deccan Chargers',	'bat',	'Delhi Daredevils',	'wickets',	'SJA Taufel',	'N',	'NA',	'JD Cloete',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548330,	'4/19/2012',	'KMDN Kulasekara',	29,	13,	'Chennai Super Kings',	'Pune Warriors',	'Pune Warriors',	'field',	'Chennai Super Kings',	'runs',	'S Das',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548332,	'4/21/2012',	'F du Plessis',	29,	7,	'Chennai Super Kings',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Chennai Super Kings',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548331,	'4/20/2012',	'CH Gayle',	31,	5,	'Kings XI Punjab',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'RJ Tucker',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548334,	'4/22/2012',	'SE Marsh',	14,	6,	'Mumbai Indians',	'Kings XI Punjab',	'Mumbai Indians',	'bat',	'Kings XI Punjab',	'wickets',	'RJ Tucker',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548335,	'4/22/2012',	'B Lee',	28,	5,	'Deccan Chargers',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'SK Tarapore',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548336,	'4/23/2012',	'AB de Villiers',	20,	46,	'Rajasthan Royals',	'Royal Challengers Bangalore',	'Rajasthan Royals',	'field',	'Royal Challengers Bangalore',	'runs',	'S Asnani',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548337,	'4/24/2012',	'V Sehwag',	7,	8,	'Pune Warriors',	'Delhi Daredevils',	'Pune Warriors',	'bat',	'Delhi Daredevils',	'wickets',	'RJ Tucker',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548339,	'4/25/2012',	'AT Rayudu',	31,	4,	'Kings XI Punjab',	'Mumbai Indians',	'Kings XI Punjab',	'bat',	'Mumbai Indians',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548341,	'4/26/2012',	'CL White',	7,	18,	'Pune Warriors',	'Deccan Chargers',	'Deccan Chargers',	'bat',	'Deccan Chargers',	'runs',	'RJ Tucker',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548342,	'4/27/2012',	'V Sehwag',	27,	37,	'Delhi Daredevils',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Delhi Daredevils',	'runs',	'BNJ Oxenford',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548343,	'4/28/2012',	'Mandeep Singh',	29,	7,	'Chennai Super Kings',	'Kings XI Punjab',	'Kings XI Punjab',	'bat',	'Kings XI Punjab',	'runs',	'SK Tarapore',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548344,	'4/28/2012',	'G Gambhir',	15,	47,	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'bat',	'Kolkata Knight Riders',	'runs',	'BR Doctrove',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548345,	'4/29/2012',	'V Sehwag',	27,	1,	'Delhi Daredevils',	'Rajasthan Royals',	'Delhi Daredevils',	'bat',	'Delhi Daredevils',	'runs',	'RJ Tucker',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548346,	'4/29/2012',	'DW Steyn',	14,	5,	'Mumbai Indians',	'Deccan Chargers',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548347,	'4/30/2012',	'G Gambhir',	29,	5,	'Chennai Super Kings',	'Kolkata Knight Riders',	'Chennai Super Kings',	'bat',	'Kolkata Knight Riders',	'wickets',	'C Shamshuddin',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548348,	'5/1/2012',	'KC Sangakkara',	28,	13,	'Deccan Chargers',	'Pune Warriors',	'Deccan Chargers',	'bat',	'Deccan Chargers',	'runs',	'AK Chaudhary',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548349,	'5/1/2012',	'P Negi',	20,	6,	'Rajasthan Royals',	'Delhi Daredevils',	'Rajasthan Royals',	'bat',	'Delhi Daredevils',	'wickets',	'SJA Taufel',	'N',	'NA',	'JD Cloete',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548350,	'5/2/2012',	'Azhar Mahmood',	35,	4,	'Royal Challengers Bangalore',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'C Shamshuddin',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548351,	'5/3/2012',	'SL Malinga',	7,	1,	'Pune Warriors',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'S Asnani',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548352,	'5/4/2012',	'SK Raina',	29,	10,	'Chennai Super Kings',	'Deccan Chargers',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'BNJ Oxenford',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548353,	'5/5/2012',	'SP Narine',	15,	7,	'Kolkata Knight Riders',	'Pune Warriors',	'Kolkata Knight Riders',	'bat',	'Kolkata Knight Riders',	'runs',	'SK Tarapore',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548354,	'5/5/2012',	'SR Watson',	31,	43,	'Kings XI Punjab',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Rajasthan Royals',	'runs',	'SJA Taufel',	'N',	'NA',	'JD Cloete',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548355,	'5/6/2012',	'DR Smith',	14,	2,	'Mumbai Indians',	'Chennai Super Kings',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'S Asnani',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598058,	'5/12/2013',	'SR Watson',	20,	5,	'Rajasthan Royals',	'Chennai Super Kings',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'CK Nandan',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548356,	'5/6/2012',	'AB de Villiers',	35,	5,	'Royal Challengers Bangalore',	'Deccan Chargers',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548357,	'5/7/2012',	'JH Kallis',	27,	6,	'Delhi Daredevils',	'Kolkata Knight Riders',	'Delhi Daredevils',	'bat',	'Kolkata Knight Riders',	'wickets',	'S Ravi',	'N',	'NA',	'JD Cloete',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548358,	'5/8/2012',	'SR Watson',	7,	7,	'Pune Warriors',	'Rajasthan Royals',	'Pune Warriors',	'bat',	'Rajasthan Royals',	'wickets',	'BR Doctrove',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548359,	'5/8/2012',	'Mandeep Singh',	22,	25,	'Deccan Chargers',	'Kings XI Punjab',	'Deccan Chargers',	'field',	'Kings XI Punjab',	'runs',	'BNJ Oxenford',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548360,	'5/9/2012',	'CH Gayle',	14,	9,	'Mumbai Indians',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'VA Kulkarni',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548361,	'5/10/2012',	'BW Hilfenhaus',	20,	4,	'Rajasthan Royals',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'C Shamshuddin',	'N',	'NA',	'BNJ Oxenford',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548362,	'5/11/2012',	'CH Gayle',	7,	35,	'Pune Warriors',	'Royal Challengers Bangalore',	'Pune Warriors',	'field',	'Royal Challengers Bangalore',	'runs',	'SK Tarapore',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548363,	'5/12/2012',	'RG Sharma',	15,	27,	'Kolkata Knight Riders',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'SJA Taufel',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548364,	'5/12/2012',	'BW Hilfenhaus',	29,	9,	'Chennai Super Kings',	'Delhi Daredevils',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'BR Doctrove',	'N',	'NA',	'S Das',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548365,	'5/13/2012',	'A Chandila',	20,	45,	'Rajasthan Royals',	'Pune Warriors',	'Rajasthan Royals',	'bat',	'Rajasthan Royals',	'runs',	'SK Tarapore',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548366,	'5/13/2012',	'DJ Hussey',	31,	4,	'Kings XI Punjab',	'Deccan Chargers',	'Deccan Chargers',	'bat',	'Kings XI Punjab',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548367,	'5/14/2012',	'AT Rayudu',	35,	5,	'Royal Challengers Bangalore',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'BR Doctrove',	'N',	'NA',	'S Das',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548368,	'5/14/2012',	'MEK Hussey',	15,	5,	'Kolkata Knight Riders',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'SJA Taufel',	'N',	'NA',	'JD Cloete',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548369,	'5/15/2012',	'UT Yadav',	27,	5,	'Delhi Daredevils',	'Kings XI Punjab',	'Kings XI Punjab',	'bat',	'Delhi Daredevils',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548370,	'5/16/2012',	'SP Narine',	14,	32,	'Mumbai Indians',	'Kolkata Knight Riders',	'Mumbai Indians',	'field',	'Kolkata Knight Riders',	'runs',	'BR Doctrove',	'N',	'NA',	'S Das',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548371,	'5/17/2012',	'AC Gilchrist',	26,	6,	'Kings XI Punjab',	'Chennai Super Kings',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'SK Tarapore',	'N',	'NA',	'VA Kulkarni',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548372,	'5/17/2012',	'CH Gayle',	27,	21,	'Delhi Daredevils',	'Royal Challengers Bangalore',	'Delhi Daredevils',	'field',	'Royal Challengers Bangalore',	'runs',	'C Shamshuddin',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548373,	'5/18/2012',	'DW Steyn',	22,	5,	'Deccan Chargers',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Deccan Chargers',	'wickets',	'SJA Taufel',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548375,	'5/19/2012',	'Shakib Al Hasan',	7,	34,	'Pune Warriors',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'bat',	'Kolkata Knight Riders',	'runs',	'BR Doctrove',	'N',	'NA',	'S Asnani',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548377,	'5/20/2012',	'DR Smith',	20,	10,	'Rajasthan Royals',	'Mumbai Indians',	'Rajasthan Royals',	'bat',	'Mumbai Indians',	'wickets',	'C Shamshuddin',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548378,	'5/22/2012',	'YK Pathan',	7,	18,	'Delhi Daredevils',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'bat',	'Kolkata Knight Riders',	'runs',	'SJA Taufel',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548374,	'5/19/2012',	'UT Yadav',	26,	6,	'Kings XI Punjab',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'VA Kulkarni',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548376,	'5/20/2012',	'DW Steyn',	22,	9,	'Deccan Chargers',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Deccan Chargers',	'runs',	'SJA Taufel',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548379,	'5/23/2012',	'MS Dhoni',	35,	38,	'Chennai Super Kings',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Chennai Super Kings',	'runs',	'HDPK Dharmasena',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548380,	'5/25/2012',	'M Vijay',	29,	86,	'Delhi Daredevils',	'Chennai Super Kings',	'Delhi Daredevils',	'field',	'Chennai Super Kings',	'runs',	'SJA Taufel',	'N',	'NA',	'BR Doctrove',	0	)");
conn.execute("INSERT INTO ipl_matches values(	548381,	'5/27/2012',	'MS Bisla',	29,	5,	'Kolkata Knight Riders',	'Chennai Super Kings',	'Chennai Super Kings',	'bat',	'Kolkata Knight Riders',	'wickets',	'SJA Taufel',	'N',	'NA',	'BF Bowden',	0	)");
conn.execute("INSERT INTO ipl_matches values(	597998,	'4/3/2013',	'SP Narine',	15,	6,	'Kolkata Knight Riders',	'Delhi Daredevils',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'SJA Taufel',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	597999,	'4/4/2013',	'CH Gayle',	35,	2,	'Royal Challengers Bangalore',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Royal Challengers Bangalore',	'runs',	'C Shamshuddin',	'N',	'NA',	'VA Kulkarni',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598000,	'4/5/2013',	'A Mishra',	22,	22,	'Sunrisers Hyderabad',	'Pune Warriors',	'Pune Warriors',	'field',	'Sunrisers Hyderabad',	'runs',	'SJA Taufel',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598001,	'4/6/2013',	'R Dravid',	27,	5,	'Delhi Daredevils',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Rajasthan Royals',	'runs',	'C Shamshuddin',	'N',	'NA',	'S Das',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598002,	'4/6/2013',	'KA Pollard',	29,	9,	'Chennai Super Kings',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'VA Kulkarni',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598003,	'4/7/2013',	'M Vohra',	7,	8,	'Pune Warriors',	'Kings XI Punjab',	'Pune Warriors',	'bat',	'Kings XI Punjab',	'wickets',	'SJA Taufel',	'N',	'NA',	'S Asnani',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598004,	'4/7/2013',	'GH Vihari',	22,	'NA',	'Sunrisers Hyderabad',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'bat',	'Sunrisers Hyderabad',	'tie',	'S Ravi',	'Y',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598005,	'4/8/2013',	'SK Trivedi',	20,	19,	'Rajasthan Royals',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Rajasthan Royals',	'runs',	'S Das',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598006,	'4/9/2013',	'KD Karthik',	14,	44,	'Mumbai Indians',	'Delhi Daredevils',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'VA Kulkarni',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598007,	'4/10/2013',	'MEK Hussey',	31,	10,	'Kings XI Punjab',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'C Shamshuddin',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598008,	'4/11/2013',	'CH Gayle',	35,	8,	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'AK Chaudhary',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598009,	'4/11/2013',	'AJ Finch',	7,	7,	'Pune Warriors',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Pune Warriors',	'wickets',	'K Srinath',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598010,	'4/12/2013',	'A Mishra',	27,	3,	'Delhi Daredevils',	'Sunrisers Hyderabad',	'Delhi Daredevils',	'bat',	'Sunrisers Hyderabad',	'wickets',	'Subroto Das',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598011,	'4/13/2013',	'RG Sharma',	14,	41,	'Mumbai Indians',	'Pune Warriors',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'SJA Taufel',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598033,	'4/27/2013',	'DR Smith',	14,	58,	'Mumbai Indians',	'Royal Challengers Bangalore',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'S Asnani',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598056,	'5/11/2013',	'PA Patel',	31,	30,	'Kings XI Punjab',	'Sunrisers Hyderabad',	'Kings XI Punjab',	'field',	'Sunrisers Hyderabad',	'runs',	'RJ Tucker',	'N',	'NA',	'S Das',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598012,	'4/13/2013',	'RA Jadeja',	29,	4,	'Chennai Super Kings',	'Royal Challengers Bangalore',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'AK Chaudhary',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598013,	'4/14/2013',	'G Gambhir',	15,	48,	'Kolkata Knight Riders',	'Sunrisers Hyderabad',	'Kolkata Knight Riders',	'bat',	'Kolkata Knight Riders',	'runs',	'VA Kulkarni',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598014,	'4/14/2013',	'JP Faulkner',	20,	6,	'Rajasthan Royals',	'Kings XI Punjab',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'C Shamshuddin',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598015,	'4/15/2013',	'SPD Smith',	29,	24,	'Chennai Super Kings',	'Pune Warriors',	'Pune Warriors',	'bat',	'Pune Warriors',	'runs',	'AK Chaudhary',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598016,	'4/16/2013',	'MS Gony',	31,	4,	'Kings XI Punjab',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kings XI Punjab',	'runs',	'SJA Taufel',	'N',	'NA',	'CK Nandan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598017,	'4/16/2013',	'V Kohli',	35,	'NA',	'Royal Challengers Bangalore',	'Delhi Daredevils',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'tie',	'VA Kulkarni',	'Y',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598018,	'4/17/2013',	'A Mishra',	7,	11,	'Pune Warriors',	'Sunrisers Hyderabad',	'Pune Warriors',	'field',	'Sunrisers Hyderabad',	'runs',	'AK Chaudhary',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598019,	'4/17/2013',	'AM Rahane',	20,	87,	'Rajasthan Royals',	'Mumbai Indians',	'Rajasthan Royals',	'bat',	'Rajasthan Royals',	'runs',	'C Shamshuddin',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598020,	'4/18/2013',	'MEK Hussey',	27,	86,	'Delhi Daredevils',	'Chennai Super Kings',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'VA Kulkarni',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598021,	'4/19/2013',	'GH Vihari',	22,	5,	'Sunrisers Hyderabad',	'Kings XI Punjab',	'Kings XI Punjab',	'bat',	'Sunrisers Hyderabad',	'wickets',	'CK Nandan',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598022,	'4/20/2013',	'RA Jadeja',	15,	4,	'Kolkata Knight Riders',	'Chennai Super Kings',	'Kolkata Knight Riders',	'bat',	'Chennai Super Kings',	'wickets',	'AK Chaudhary',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598023,	'4/20/2013',	'R Vinay Kumar',	35,	7,	'Royal Challengers Bangalore',	'Rajasthan Royals',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'C Shamshuddin',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598024,	'4/21/2013',	'V Sehwag',	27,	9,	'Delhi Daredevils',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Delhi Daredevils',	'wickets',	'S Ravi',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598025,	'4/21/2013',	'DA Miller',	31,	7,	'Kings XI Punjab',	'Pune Warriors',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'K Srinath',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598026,	'4/22/2013',	'MEK Hussey',	29,	5,	'Chennai Super Kings',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Chennai Super Kings',	'wickets',	'AK Chaudhary',	'N',	'NA',	'S Asnani',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598027,	'4/23/2013',	'CH Gayle',	35,	130,	'Royal Challengers Bangalore',	'Pune Warriors',	'Pune Warriors',	'field',	'Royal Challengers Bangalore',	'runs',	'C Shamshuddin',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598028,	'5/16/2013',	'DA Miller',	26,	7,	'Kings XI Punjab',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Kings XI Punjab',	'runs',	'S Ravi',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598029,	'4/24/2013',	'DR Smith',	15,	5,	'Kolkata Knight Riders',	'Mumbai Indians',	'Kolkata Knight Riders',	'bat',	'Mumbai Indians',	'wickets',	'S Ravi',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598030,	'4/25/2013',	'MS Dhoni',	29,	5,	'Chennai Super Kings',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'bat',	'Chennai Super Kings',	'wickets',	'S Das',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598031,	'4/26/2013',	'JH Kallis',	15,	6,	'Kolkata Knight Riders',	'Kings XI Punjab',	'Kings XI Punjab',	'bat',	'Kolkata Knight Riders',	'wickets',	'S Ravi',	'N',	'NA',	'CK Nandan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598032,	'4/27/2013',	'JP Faulkner',	20,	8,	'Rajasthan Royals',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'bat',	'Rajasthan Royals',	'wickets',	'K Srinath',	'N',	'NA',	'VA Kulkarni',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598034,	'4/28/2013',	'MEK Hussey',	29,	14,	'Chennai Super Kings',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Chennai Super Kings',	'runs',	'SJA Taufel',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598035,	'4/28/2013',	'DA Warner',	5,	15,	'Delhi Daredevils',	'Pune Warriors',	'Pune Warriors',	'field',	'Delhi Daredevils',	'runs',	'S Ravi',	'N',	'NA',	'CK Nandan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598036,	'4/29/2013',	'SV Samson',	20,	4,	'Rajasthan Royals',	'Royal Challengers Bangalore',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'K Srinath',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598037,	'4/29/2013',	'RG Sharma',	14,	4,	'Mumbai Indians',	'Kings XI Punjab',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'AK Chaudhary',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598038,	'4/30/2013',	'MS Dhoni',	7,	37,	'Pune Warriors',	'Chennai Super Kings',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'SJA Taufel',	'N',	'NA',	'S Das',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598039,	'5/1/2013',	'I Sharma',	22,	7,	'Sunrisers Hyderabad',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Sunrisers Hyderabad',	'wickets',	'S Asnani',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598040,	'5/1/2013',	'DA Warner',	5,	7,	'Delhi Daredevils',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'bat',	'Delhi Daredevils',	'wickets',	'CK Nandan',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598041,	'5/2/2013',	'SK Raina',	29,	15,	'Chennai Super Kings',	'Kings XI Punjab',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'VA Kulkarni',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598042,	'5/2/2013',	'AB de Villiers',	7,	17,	'Pune Warriors',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'bat',	'Royal Challengers Bangalore',	'runs',	'C Shamshuddin',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598043,	'5/3/2013',	'YK Pathan',	15,	8,	'Kolkata Knight Riders',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Kolkata Knight Riders',	'wickets',	'CK Nandan',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598044,	'5/4/2013',	'DJG Sammy',	22,	6,	'Sunrisers Hyderabad',	'Delhi Daredevils',	'Delhi Daredevils',	'bat',	'Sunrisers Hyderabad',	'wickets',	'S Asnani',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598045,	'5/14/2013',	'AC Gilchrist',	35,	7,	'Royal Challengers Bangalore',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'S Ravi',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598046,	'5/5/2013',	'MG Johnson',	14,	60,	'Mumbai Indians',	'Chennai Super Kings',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'CK Nandan',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598047,	'5/5/2013',	'AM Rahane',	20,	5,	'Rajasthan Royals',	'Pune Warriors',	'Pune Warriors',	'bat',	'Rajasthan Royals',	'wickets',	'RJ Tucker',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598048,	'4/9/2013',	'V Kohli',	35,	7,	'Royal Challengers Bangalore',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'bat',	'Royal Challengers Bangalore',	'wickets',	'SJA Taufel',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598049,	'5/7/2013',	'AM Rahane',	20,	9,	'Rajasthan Royals',	'Delhi Daredevils',	'Delhi Daredevils',	'bat',	'Rajasthan Royals',	'wickets',	'RJ Tucker',	'N',	'NA',	'Aleem Dar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598050,	'5/7/2013',	'SR Tendulkar',	14,	65,	'Mumbai Indians',	'Kolkata Knight Riders',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'S Ravi',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598051,	'5/8/2013',	'SK Raina',	22,	77,	'Sunrisers Hyderabad',	'Chennai Super Kings',	'Sunrisers Hyderabad',	'field',	'Chennai Super Kings',	'runs',	'NJ Llong',	'N',	'NA',	'S Das',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598053,	'5/9/2013',	'G Gambhir',	7,	46,	'Pune Warriors',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'bat',	'Kolkata Knight Riders',	'runs',	'S Asnani',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598054,	'5/10/2013',	'JD Unadkat',	27,	4,	'Delhi Daredevils',	'Royal Challengers Bangalore',	'Delhi Daredevils',	'field',	'Royal Challengers Bangalore',	'runs',	'K Srinath',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598055,	'5/11/2013',	'MG Johnson',	7,	5,	'Pune Warriors',	'Mumbai Indians',	'Pune Warriors',	'bat',	'Mumbai Indians',	'wickets',	'AK Chaudhary',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598052,	'5/9/2013',	'KK Cooper',	31,	8,	'Kings XI Punjab',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'S Ravi',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598057,	'5/12/2013',	'JH Kallis',	3,	5,	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'K Srinath',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598059,	'4/23/2013',	'Harmeet Singh',	27,	5,	'Delhi Daredevils',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'K Srinath',	'N',	'NA',	'VA Kulkarni',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598060,	'5/13/2013',	'KA Pollard',	14,	7,	'Mumbai Indians',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'bat',	'Mumbai Indians',	'wickets',	'SJA Taufel',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598061,	'5/15/2013',	'MK Pandey',	3,	7,	'Kolkata Knight Riders',	'Pune Warriors',	'Kolkata Knight Riders',	'field',	'Pune Warriors',	'runs',	'K Srinath',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598062,	'5/14/2013',	'MS Dhoni',	29,	33,	'Chennai Super Kings',	'Delhi Daredevils',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'RJ Tucker',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598063,	'5/15/2013',	'AP Tare',	14,	14,	'Mumbai Indians',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Mumbai Indians',	'runs',	'S Asnani',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598064,	'5/6/2013',	'DA Miller',	31,	6,	'Kings XI Punjab',	'Royal Challengers Bangalore',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'NJ Llong',	'N',	'NA',	'VA Kulkarni',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598065,	'5/17/2013',	'A Mishra',	22,	23,	'Sunrisers Hyderabad',	'Rajasthan Royals',	'Sunrisers Hyderabad',	'bat',	'Sunrisers Hyderabad',	'runs',	'AK Chaudhary',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598066,	'5/18/2013',	'Azhar Mahmood',	26,	50,	'Kings XI Punjab',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Kings XI Punjab',	'runs',	'CK Nandan',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598067,	'5/19/2013',	'LJ Wright',	7,	38,	'Pune Warriors',	'Delhi Daredevils',	'Pune Warriors',	'bat',	'Pune Warriors',	'runs',	'SJA Taufel',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598068,	'5/18/2013',	'V Kohli',	35,	24,	'Royal Challengers Bangalore',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Royal Challengers Bangalore',	'runs',	'RJ Tucker',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598069,	'5/19/2013',	'PA Patel',	22,	5,	'Sunrisers Hyderabad',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'bat',	'Sunrisers Hyderabad',	'wickets',	'S Asnani',	'N',	'NA',	'Asad Rauf',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598070,	'5/21/2013',	'MEK Hussey',	27,	48,	'Chennai Super Kings',	'Mumbai Indians',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'RJ Tucker',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598071,	'5/22/2013',	'BJ Hodge',	27,	4,	'Rajasthan Royals',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'bat',	'Rajasthan Royals',	'wickets',	'RJ Tucker',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598072,	'5/24/2013',	'Harbhajan Singh',	15,	4,	'Mumbai Indians',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Mumbai Indians',	'wickets',	'SJA Taufel',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	598073,	'5/26/2013',	'KA Pollard',	15,	23,	'Chennai Super Kings',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'SJA Taufel',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	729279,	'4/16/2014',	'JH Kallis',	38,	41,	'Mumbai Indians',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'bat',	'Kolkata Knight Riders',	'runs',	'RK Illingworth',	'N',	'NA',	'M Erasmus',	1	)");
conn.execute("INSERT INTO ipl_matches values(	733975,	'5/3/2014',	'KK Nair',	27,	7,	'Delhi Daredevils',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'S Ravi',	'N',	'NA',	'SS Hazare',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216503,	'10/1/2020',	'KA Pollard',	38,	48,	'Mumbai Indians',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Mumbai Indians',	'runs',	'S Ravi',	'N',	'NA',	'VK Sharma',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216505,	'11/2/2020',	'A Nortje',	38,	6,	'Royal Challengers Bangalore',	'Delhi Capitals',	'Delhi Capitals',	'field',	'Delhi Capitals',	'wickets',	'S Ravi',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	729281,	'4/17/2014',	'YS Chahal',	2,	8,	'Delhi Daredevils',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'S Ravi',	'N',	'NA',	'Aleem Dar',	1	)");
conn.execute("INSERT INTO ipl_matches values(	729283,	'4/18/2014',	'GJ Maxwell',	38,	6,	'Chennai Super Kings',	'Kings XI Punjab',	'Chennai Super Kings',	'bat',	'Kings XI Punjab',	'wickets',	'C Shamshuddin',	'N',	'NA',	'RK Illingworth',	1	)");
conn.execute("INSERT INTO ipl_matches values(	729285,	'4/18/2014',	'AM Rahane',	38,	4,	'Sunrisers Hyderabad',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'RK Illingworth',	'N',	'NA',	'BF Bowden',	1	)");
conn.execute("INSERT INTO ipl_matches values(	729287,	'4/19/2014',	'PA Patel',	25,	7,	'Royal Challengers Bangalore',	'Mumbai Indians',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'AK Chaudhary',	'N',	'NA',	'Aleem Dar',	1	)");
conn.execute("INSERT INTO ipl_matches values(	729289,	'4/19/2014',	'JP Duminy',	25,	4,	'Kolkata Knight Riders',	'Delhi Daredevils',	'Kolkata Knight Riders',	'bat',	'Delhi Daredevils',	'wickets',	'VA Kulkarni',	'N',	'NA',	'Aleem Dar',	1	)");
conn.execute("INSERT INTO ipl_matches values(	729291,	'4/20/2014',	'GJ Maxwell',	2,	7,	'Rajasthan Royals',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'M Erasmus',	'N',	'NA',	'BF Bowden',	1	)");
conn.execute("INSERT INTO ipl_matches values(	729293,	'4/21/2014',	'SK Raina',	38,	93,	'Chennai Super Kings',	'Delhi Daredevils',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'C Shamshuddin',	'N',	'NA',	'RK Illingworth',	1	)");
conn.execute("INSERT INTO ipl_matches values(	729295,	'4/22/2014',	'GJ Maxwell',	2,	72,	'Kings XI Punjab',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Kings XI Punjab',	'runs',	'S Ravi',	'N',	'NA',	'M Erasmus',	1	)");
conn.execute("INSERT INTO ipl_matches values(	729297,	'4/23/2014',	'RA Jadeja',	25,	7,	'Rajasthan Royals',	'Chennai Super Kings',	'Rajasthan Royals',	'field',	'Chennai Super Kings',	'runs',	'RK Illingworth',	'N',	'NA',	'HDPK Dharmasena',	1	)");
conn.execute("INSERT INTO ipl_matches values(	729299,	'4/24/2014',	'CA Lynn',	2,	2,	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'field',	'Kolkata Knight Riders',	'runs',	'VA Kulkarni',	'N',	'NA',	'Aleem Dar',	1	)");
conn.execute("INSERT INTO ipl_matches values(	729301,	'4/25/2014',	'AJ Finch',	25,	4,	'Sunrisers Hyderabad',	'Delhi Daredevils',	'Sunrisers Hyderabad',	'bat',	'Sunrisers Hyderabad',	'runs',	'S Ravi',	'N',	'NA',	'M Erasmus',	1	)");
conn.execute("INSERT INTO ipl_matches values(	729303,	'4/25/2014',	'MM Sharma',	25,	7,	'Chennai Super Kings',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Chennai Super Kings',	'wickets',	'M Erasmus',	'N',	'NA',	'BF Bowden',	1	)");
conn.execute("INSERT INTO ipl_matches values(	729305,	'4/26/2014',	'PV Tambe',	38,	6,	'Rajasthan Royals',	'Royal Challengers Bangalore',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'C Shamshuddin',	'N',	'NA',	'HDPK Dharmasena',	1	)");
conn.execute("INSERT INTO ipl_matches values(	729307,	'4/26/2014',	'Sandeep Sharma',	38,	23,	'Kolkata Knight Riders',	'Kings XI Punjab',	'Kolkata Knight Riders',	'field',	'Kings XI Punjab',	'runs',	'RK Illingworth',	'N',	'NA',	'HDPK Dharmasena',	1	)");
conn.execute("INSERT INTO ipl_matches values(	729309,	'4/27/2014',	'M Vijay',	2,	6,	'Delhi Daredevils',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Delhi Daredevils',	'wickets',	'VA Kulkarni',	'N',	'NA',	'Aleem Dar',	1	)");
conn.execute("INSERT INTO ipl_matches values(	729311,	'4/27/2014',	'DR Smith',	2,	5,	'Sunrisers Hyderabad',	'Chennai Super Kings',	'Sunrisers Hyderabad',	'bat',	'Chennai Super Kings',	'wickets',	'VA Kulkarni',	'N',	'NA',	'AK Chaudhary',	1	)");
conn.execute("INSERT INTO ipl_matches values(	729313,	'4/28/2014',	'Sandeep Sharma',	25,	5,	'Kings XI Punjab',	'Royal Challengers Bangalore',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'S Ravi',	'N',	'NA',	'BF Bowden',	1	)");
conn.execute("INSERT INTO ipl_matches values(	729315,	'4/29/2014',	'JP Faulkner',	38,	'NA',	'Kolkata Knight Riders',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Rajasthan Royals',	'tie',	'AK Chaudhary',	'Y',	'NA',	'Aleem Dar',	1	)");
conn.execute("INSERT INTO ipl_matches values(	729317,	'4/30/2014',	'B Kumar',	25,	15,	'Mumbai Indians',	'Sunrisers Hyderabad',	'Mumbai Indians',	'field',	'Sunrisers Hyderabad',	'runs',	'M Erasmus',	'N',	'NA',	'HDPK Dharmasena',	1	)");
conn.execute("INSERT INTO ipl_matches values(	733971,	'5/2/2014',	'RA Jadeja',	3,	34,	'Chennai Super Kings',	'Kolkata Knight Riders',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'NJ Llong',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	733973,	'5/3/2014',	'CJ Anderson',	14,	5,	'Mumbai Indians',	'Kings XI Punjab',	'Kings XI Punjab',	'bat',	'Mumbai Indians',	'wickets',	'C Shamshuddin',	'N',	'NA',	'BNJ Oxenford',	0	)");
conn.execute("INSERT INTO ipl_matches values(	733977,	'5/4/2014',	'AB de Villiers',	35,	4,	'Royal Challengers Bangalore',	'Sunrisers Hyderabad',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'VA Kulkarni',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	733979,	'5/5/2014',	'PV Tambe',	37,	10,	'Rajasthan Royals',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Rajasthan Royals',	'runs',	'CK Nandan',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	733981,	'5/5/2014',	'DR Smith',	27,	8,	'Delhi Daredevils',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'RM Deshpande',	0	)");
conn.execute("INSERT INTO ipl_matches values(	733983,	'5/6/2014',	'RG Sharma',	14,	19,	'Mumbai Indians',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Mumbai Indians',	'runs',	'K Srinath',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	733985,	'5/7/2014',	'G Gambhir',	27,	8,	'Delhi Daredevils',	'Kolkata Knight Riders',	'Delhi Daredevils',	'bat',	'Kolkata Knight Riders',	'wickets',	'C Shamshuddin',	'N',	'NA',	'BNJ Oxenford',	0	)");
conn.execute("INSERT INTO ipl_matches values(	733987,	'5/7/2014',	'GJ Maxwell',	28,	44,	'Kings XI Punjab',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Kings XI Punjab',	'runs',	'PG Pathak',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	733989,	'5/8/2014',	'B Kumar',	37,	32,	'Rajasthan Royals',	'Sunrisers Hyderabad',	'Rajasthan Royals',	'field',	'Sunrisers Hyderabad',	'runs',	'NJ Llong',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	733991,	'5/9/2014',	'Sandeep Sharma',	35,	32,	'Royal Challengers Bangalore',	'Kings XI Punjab',	'Royal Challengers Bangalore',	'field',	'Kings XI Punjab',	'runs',	'K Srinath',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	733993,	'5/10/2014',	'DW Steyn',	27,	8,	'Delhi Daredevils',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Sunrisers Hyderabad',	'wickets',	'BNJ Oxenford',	'N',	'D/L',	'RM Deshpande',	0	)");
conn.execute("INSERT INTO ipl_matches values(	733995,	'5/10/2014',	'DR Smith',	14,	4,	'Mumbai Indians',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'VA Kulkarni',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	733997,	'5/11/2014',	'G Gambhir',	28,	9,	'Kings XI Punjab',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'CK Nandan',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	733999,	'5/11/2014',	'JP Faulkner',	35,	5,	'Royal Challengers Bangalore',	'Rajasthan Royals',	'Royal Challengers Bangalore',	'bat',	'Rajasthan Royals',	'wickets',	'RJ Tucker',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734001,	'5/12/2014',	'AT Rayudu',	22,	7,	'Sunrisers Hyderabad',	'Mumbai Indians',	'Sunrisers Hyderabad',	'bat',	'Mumbai Indians',	'wickets',	'VA Kulkarni',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734003,	'5/13/2014',	'RA Jadeja',	3,	5,	'Chennai Super Kings',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Chennai Super Kings',	'wickets',	'C Shamshuddin',	'N',	'NA',	'BNJ Oxenford',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734005,	'5/13/2014',	'Yuvraj Singh',	35,	16,	'Royal Challengers Bangalore',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Royal Challengers Bangalore',	'runs',	'RJ Tucker',	'N',	'NA',	'K Srinath',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734007,	'5/14/2014',	'WP Saha',	22,	6,	'Sunrisers Hyderabad',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'PG Pathak',	'N',	'NA',	'VA Kulkarni',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734009,	'5/14/2014',	'RV Uthappa',	28,	6,	'Kolkata Knight Riders',	'Mumbai Indians',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'NJ Llong',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734011,	'5/15/2014',	'AM Rahane',	37,	62,	'Rajasthan Royals',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Rajasthan Royals',	'runs',	'RJ Tucker',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734017,	'5/19/2014',	'MEK Hussey',	37,	25,	'Rajasthan Royals',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'RJ Tucker',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734019,	'5/19/2014',	'AR Patel',	27,	4,	'Delhi Daredevils',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'PG Pathak',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734023,	'5/20/2014',	'RV Uthappa',	15,	8,	'Kolkata Knight Riders',	'Chennai Super Kings',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'C Shamshuddin',	'N',	'NA',	'RM Deshpande',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734013,	'5/18/2014',	'AB de Villiers',	3,	5,	'Chennai Super Kings',	'Royal Challengers Bangalore',	'Chennai Super Kings',	'bat',	'Royal Challengers Bangalore',	'wickets',	'C Shamshuddin',	'N',	'NA',	'BNJ Oxenford',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734015,	'5/18/2014',	'UT Yadav',	22,	7,	'Sunrisers Hyderabad',	'Kolkata Knight Riders',	'Sunrisers Hyderabad',	'bat',	'Kolkata Knight Riders',	'wickets',	'CK Nandan',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734021,	'5/20/2014',	'DA Warner',	22,	7,	'Sunrisers Hyderabad',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'bat',	'Sunrisers Hyderabad',	'wickets',	'NJ Llong',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734025,	'5/21/2014',	'LMP Simmons',	31,	7,	'Kings XI Punjab',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'VA Kulkarni',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734027,	'5/22/2014',	'RV Uthappa',	15,	30,	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Kolkata Knight Riders',	'runs',	'CK Nandan',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734029,	'5/22/2014',	'DA Warner',	3,	6,	'Chennai Super Kings',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Sunrisers Hyderabad',	'wickets',	'C Shamshuddin',	'N',	'NA',	'BNJ Oxenford',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734031,	'5/23/2014',	'MEK Hussey',	14,	15,	'Mumbai Indians',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Mumbai Indians',	'runs',	'RJ Tucker',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734033,	'5/23/2014',	'SE Marsh',	31,	16,	'Kings XI Punjab',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Kings XI Punjab',	'runs',	'PG Pathak',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734035,	'5/24/2014',	'MS Dhoni',	35,	8,	'Royal Challengers Bangalore',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'NJ Llong',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734037,	'5/24/2014',	'YK Pathan',	15,	4,	'Kolkata Knight Riders',	'Sunrisers Hyderabad',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'RM Deshpande',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734039,	'5/25/2014',	'M Vohra',	31,	7,	'Kings XI Punjab',	'Delhi Daredevils',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'VA Kulkarni',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734041,	'5/25/2014',	'CJ Anderson',	14,	5,	'Mumbai Indians',	'Rajasthan Royals',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'RJ Tucker',	'N',	'NA',	'K Srinath',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734043,	'5/27/2014',	'UT Yadav',	15,	28,	'Kings XI Punjab',	'Kolkata Knight Riders',	'Kings XI Punjab',	'field',	'Kolkata Knight Riders',	'runs',	'S Ravi',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734045,	'5/28/2014',	'SK Raina',	12,	7,	'Chennai Super Kings',	'Mumbai Indians',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'VA Kulkarni',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734047,	'5/30/2014',	'V Sehwag',	14,	24,	'Chennai Super Kings',	'Kings XI Punjab',	'Chennai Super Kings',	'field',	'Kings XI Punjab',	'runs',	'RJ Tucker',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	734049,	'6/1/2014',	'MK Pandey',	35,	3,	'Kolkata Knight Riders',	'Kings XI Punjab',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829705,	'4/8/2015',	'M Morkel',	15,	7,	'Kolkata Knight Riders',	'Mumbai Indians',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'C Shamshuddin',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829707,	'4/9/2015',	'A Nehra',	29,	1,	'Chennai Super Kings',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Chennai Super Kings',	'runs',	'VA Kulkarni',	'N',	'NA',	'RK Illingworth',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829709,	'4/10/2015',	'JP Faulkner',	6,	26,	'Kings XI Punjab',	'Rajasthan Royals',	'Kings XI Punjab',	'field',	'Rajasthan Royals',	'runs',	'CB Gaffaney',	'N',	'NA',	'SD Fry',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829761,	'5/7/2015',	'PP Chawla',	15,	13,	'Kolkata Knight Riders',	'Delhi Daredevils',	'Kolkata Knight Riders',	'bat',	'Kolkata Knight Riders',	'runs',	'M Erasmus',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829711,	'4/11/2015',	'BB McCullum',	29,	45,	'Chennai Super Kings',	'Sunrisers Hyderabad',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'VA Kulkarni',	'N',	'NA',	'RK Illingworth',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829713,	'4/11/2015',	'CH Gayle',	15,	3,	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'C Shamshuddin',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829715,	'4/12/2015',	'DJ Hooda',	27,	3,	'Delhi Daredevils',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'CB Gaffaney',	'N',	'NA',	'SD Fry',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829717,	'4/12/2015',	'GJ Bailey',	14,	18,	'Mumbai Indians',	'Kings XI Punjab',	'Mumbai Indians',	'field',	'Kings XI Punjab',	'runs',	'K Srinivasan',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829719,	'4/13/2015',	'DA Warner',	35,	8,	'Royal Challengers Bangalore',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Sunrisers Hyderabad',	'wickets',	'RK Illingworth',	'N',	'NA',	'RM Deshpande',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829721,	'4/14/2015',	'SPD Smith',	37,	7,	'Rajasthan Royals',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Rajasthan Royals',	'wickets',	'SD Fry',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829723,	'4/30/2015',	'AD Russell',	15,	7,	'Kolkata Knight Riders',	'Chennai Super Kings',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'M Erasmus',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829725,	'4/15/2015',	'MA Agarwal',	6,	5,	'Kings XI Punjab',	'Delhi Daredevils',	'Kings XI Punjab',	'bat',	'Delhi Daredevils',	'wickets',	'K Srinath',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829727,	'4/16/2015',	'AM Rahane',	1,	6,	'Sunrisers Hyderabad',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'S Ravi',	'N',	'NA',	'PG Pathak',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829729,	'4/17/2015',	'A Nehra',	14,	6,	'Mumbai Indians',	'Chennai Super Kings',	'Mumbai Indians',	'bat',	'Chennai Super Kings',	'wickets',	'M Erasmus',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829731,	'4/18/2015',	'JP Duminy',	1,	4,	'Sunrisers Hyderabad',	'Delhi Daredevils',	'Delhi Daredevils',	'bat',	'Delhi Daredevils',	'runs',	'S Ravi',	'N',	'NA',	'PG Pathak',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829733,	'4/18/2015',	'AD Russell',	6,	4,	'Kings XI Punjab',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'CK Nandan',	'N',	'NA',	'SD Fry',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829735,	'4/19/2015',	'AM Rahane',	37,	8,	'Rajasthan Royals',	'Chennai Super Kings',	'Chennai Super Kings',	'bat',	'Rajasthan Royals',	'wickets',	'M Erasmus',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829737,	'4/19/2015',	'Harbhajan Singh',	35,	18,	'Royal Challengers Bangalore',	'Mumbai Indians',	'Royal Challengers Bangalore',	'field',	'Mumbai Indians',	'runs',	'VA Kulkarni',	'N',	'NA',	'RK Illingworth',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829739,	'4/20/2015',	'UT Yadav',	27,	6,	'Delhi Daredevils',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'CB Gaffaney',	'N',	'NA',	'SD Fry',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829741,	'4/21/2015',	'SE Marsh',	37,	'NA',	'Rajasthan Royals',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'tie',	'S Ravi',	'Y',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829743,	'4/22/2015',	'DA Warner',	1,	16,	'Sunrisers Hyderabad',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Sunrisers Hyderabad',	'runs',	'VA Kulkarni',	'N',	'D/L',	'RK Illingworth',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829747,	'4/23/2015',	'SS Iyer',	27,	37,	'Delhi Daredevils',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Delhi Daredevils',	'runs',	'CK Nandan',	'N',	'NA',	'SD Fry',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829751,	'4/25/2015',	'SL Malinga',	14,	20,	'Mumbai Indians',	'Sunrisers Hyderabad',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'CB Gaffaney',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829753,	'4/25/2015',	'BB McCullum',	29,	97,	'Chennai Super Kings',	'Kings XI Punjab',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'C Shamshuddin',	'N',	'NA',	'JD Cloete',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829757,	'4/26/2015',	'VR Aaron',	27,	10,	'Delhi Daredevils',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'S Ravi',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829745,	'4/22/2015',	'SK Raina',	35,	27,	'Royal Challengers Bangalore',	'Chennai Super Kings',	'Royal Challengers Bangalore',	'field',	'Chennai Super Kings',	'runs',	'C Shamshuddin',	'N',	'NA',	'JD Cloete',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829749,	'4/24/2015',	'MA Starc',	37,	9,	'Rajasthan Royals',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'S Ravi',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829759,	'4/27/2015',	'TA Boult',	31,	20,	'Kings XI Punjab',	'Sunrisers Hyderabad',	'Kings XI Punjab',	'field',	'Sunrisers Hyderabad',	'runs',	'CB Gaffaney',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829763,	'4/29/2015',	'NA',	35,	'NA',	'Royal Challengers Bangalore',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'NA',	'NA',	'PG Pathak',	'NA',	'NA',	'JD Cloete',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829765,	'4/28/2015',	'DJ Bravo',	29,	2,	'Chennai Super Kings',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Chennai Super Kings',	'runs',	'VA Kulkarni',	'N',	'NA',	'RM Deshpande',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829767,	'5/1/2015',	'NM Coulter-Nile',	27,	9,	'Delhi Daredevils',	'Kings XI Punjab',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'S Ravi',	'N',	'NA',	'RK Illingworth',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829769,	'5/1/2015',	'AT Rayudu',	14,	8,	'Mumbai Indians',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Mumbai Indians',	'runs',	'CK Nandan',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829771,	'5/2/2015',	'Mandeep Singh',	35,	7,	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'PG Pathak',	'N',	'NA',	'JD Cloete',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829773,	'5/2/2015',	'DA Warner',	22,	22,	'Sunrisers Hyderabad',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Sunrisers Hyderabad',	'runs',	'K Srinivasan',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829775,	'5/3/2015',	'LMP Simmons',	31,	23,	'Kings XI Punjab',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'VA Kulkarni',	'N',	'NA',	'RK Illingworth',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829777,	'5/3/2015',	'AM Rahane',	12,	14,	'Rajasthan Royals',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Rajasthan Royals',	'runs',	'CB Gaffaney',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829779,	'5/4/2015',	'SK Raina',	29,	24,	'Chennai Super Kings',	'Royal Challengers Bangalore',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'K Srinath',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829781,	'5/4/2015',	'UT Yadav',	15,	35,	'Kolkata Knight Riders',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Kolkata Knight Riders',	'runs',	'M Erasmus',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829783,	'5/5/2015',	'Harbhajan Singh',	14,	5,	'Mumbai Indians',	'Delhi Daredevils',	'Delhi Daredevils',	'bat',	'Mumbai Indians',	'wickets',	'CB Gaffaney',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829785,	'5/6/2015',	'CH Gayle',	35,	138,	'Royal Challengers Bangalore',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Royal Challengers Bangalore',	'runs',	'VA Kulkarni',	'N',	'NA',	'RK Illingworth',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829787,	'5/7/2015',	'EJG Morgan',	12,	7,	'Rajasthan Royals',	'Sunrisers Hyderabad',	'Rajasthan Royals',	'field',	'Sunrisers Hyderabad',	'runs',	'C Shamshuddin',	'N',	'NA',	'JD Cloete',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829789,	'5/8/2015',	'HH Pandya',	29,	6,	'Chennai Super Kings',	'Mumbai Indians',	'Chennai Super Kings',	'bat',	'Mumbai Indians',	'wickets',	'CK Nandan',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829791,	'5/9/2015',	'AD Russell',	15,	1,	'Kolkata Knight Riders',	'Kings XI Punjab',	'Kings XI Punjab',	'bat',	'Kolkata Knight Riders',	'wickets',	'HDPK Dharmasena',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	981015,	'5/25/2016',	'MC Henriques',	27,	22,	'Sunrisers Hyderabad',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Sunrisers Hyderabad',	'runs',	'C Shamshuddin',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	981017,	'5/27/2016',	'DA Warner',	27,	4,	'Gujarat Lions',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Sunrisers Hyderabad',	'wickets',	'CK Nandan',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829793,	'5/9/2015',	'MC Henriques',	5,	6,	'Delhi Daredevils',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'bat',	'Sunrisers Hyderabad',	'runs',	'S Ravi',	'N',	'NA',	'VA Kulkarni',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829795,	'5/10/2015',	'AB de Villiers',	14,	39,	'Mumbai Indians',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'bat',	'Royal Challengers Bangalore',	'runs',	'C Shamshuddin',	'N',	'NA',	'JD Cloete',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829797,	'5/10/2015',	'RA Jadeja',	29,	12,	'Chennai Super Kings',	'Rajasthan Royals',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'CK Nandan',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829799,	'5/11/2015',	'DA Warner',	22,	5,	'Sunrisers Hyderabad',	'Kings XI Punjab',	'Sunrisers Hyderabad',	'bat',	'Sunrisers Hyderabad',	'runs',	'HDPK Dharmasena',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829801,	'5/12/2015',	'Z Khan',	5,	6,	'Delhi Daredevils',	'Chennai Super Kings',	'Chennai Super Kings',	'bat',	'Delhi Daredevils',	'wickets',	'VA Kulkarni',	'N',	'NA',	'RK Illingworth',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829803,	'5/13/2015',	'AR Patel',	31,	22,	'Kings XI Punjab',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Kings XI Punjab',	'runs',	'C Shamshuddin',	'N',	'NA',	'JD Cloete',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829805,	'5/14/2015',	'HH Pandya',	14,	5,	'Mumbai Indians',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Mumbai Indians',	'runs',	'VA Kulkarni',	'N',	'NA',	'RK Illingworth',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829807,	'5/15/2015',	'V Kohli',	22,	6,	'Sunrisers Hyderabad',	'Royal Challengers Bangalore',	'Sunrisers Hyderabad',	'bat',	'Royal Challengers Bangalore',	'wickets',	'HDPK Dharmasena',	'N',	'D/L',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829809,	'5/16/2015',	'P Negi',	31,	7,	'Kings XI Punjab',	'Chennai Super Kings',	'Kings XI Punjab',	'bat',	'Chennai Super Kings',	'wickets',	'C Shamshuddin',	'N',	'NA',	'CK Nandan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829811,	'5/16/2015',	'SR Watson',	12,	9,	'Rajasthan Royals',	'Kolkata Knight Riders',	'Rajasthan Royals',	'bat',	'Rajasthan Royals',	'runs',	'RK Illingworth',	'N',	'NA',	'RM Deshpande',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829813,	'5/17/2015',	'NA',	35,	'NA',	'Royal Challengers Bangalore',	'Delhi Daredevils',	'Royal Challengers Bangalore',	'field',	'NA',	'NA',	'K Srinivasan',	'NA',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829815,	'5/17/2015',	'MJ McClenaghan',	22,	9,	'Sunrisers Hyderabad',	'Mumbai Indians',	'Sunrisers Hyderabad',	'bat',	'Mumbai Indians',	'wickets',	'K Srinath',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829817,	'5/19/2015',	'KA Pollard',	14,	25,	'Chennai Super Kings',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'RK Illingworth',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829819,	'5/20/2015',	'AB de Villiers',	6,	71,	'Royal Challengers Bangalore',	'Rajasthan Royals',	'Royal Challengers Bangalore',	'bat',	'Royal Challengers Bangalore',	'runs',	'C Shamshuddin',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829821,	'5/22/2015',	'A Nehra',	3,	3,	'Chennai Super Kings',	'Royal Challengers Bangalore',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'CB Gaffaney',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	829823,	'5/24/2015',	'RG Sharma',	15,	41,	'Mumbai Indians',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Mumbai Indians',	'runs',	'RK Illingworth',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980901,	'4/9/2016',	'AM Rahane',	14,	9,	'Mumbai Indians',	'Rising Pune Supergiants',	'Mumbai Indians',	'bat',	'Rising Pune Supergiants',	'wickets',	'CK Nandan',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980903,	'4/10/2016',	'AD Russell',	15,	9,	'Kolkata Knight Riders',	'Delhi Daredevils',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'C Shamshuddin',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980909,	'4/13/2016',	'RG Sharma',	15,	6,	'Kolkata Knight Riders',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'S Ravi',	'N',	'NA',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980911,	'4/14/2016',	'AJ Finch',	4,	7,	'Gujarat Lions',	'Rising Pune Supergiants',	'Rising Pune Supergiants',	'bat',	'Gujarat Lions',	'wickets',	'CK Nandan',	'N',	'NA',	'VA Kulkarni',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980905,	'4/11/2016',	'AJ Finch',	30,	5,	'Kings XI Punjab',	'Gujarat Lions',	'Gujarat Lions',	'field',	'Gujarat Lions',	'wickets',	'VA Kulkarni',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980907,	'4/12/2016',	'AB de Villiers',	35,	45,	'Royal Challengers Bangalore',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Royal Challengers Bangalore',	'runs',	'VK Sharma',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980913,	'4/15/2016',	'A Mishra',	27,	8,	'Delhi Daredevils',	'Kings XI Punjab',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'C Shamshuddin',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980915,	'4/16/2016',	'G Gambhir',	22,	8,	'Sunrisers Hyderabad',	'Kolkata Knight Riders',	'Sunrisers Hyderabad',	'bat',	'Kolkata Knight Riders',	'wickets',	'CK Nandan',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980917,	'4/16/2016',	'AJ Finch',	14,	3,	'Mumbai Indians',	'Gujarat Lions',	'Gujarat Lions',	'field',	'Gujarat Lions',	'wickets',	'VK Sharma',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980919,	'4/17/2016',	'M Vohra',	30,	6,	'Kings XI Punjab',	'Rising Pune Supergiants',	'Rising Pune Supergiants',	'bat',	'Kings XI Punjab',	'wickets',	'C Shamshuddin',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980921,	'4/17/2016',	'Q de Kock',	35,	7,	'Royal Challengers Bangalore',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'A Nand Kishore',	'N',	'NA',	'VA Kulkarni',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980923,	'4/18/2016',	'DA Warner',	22,	7,	'Sunrisers Hyderabad',	'Mumbai Indians',	'Sunrisers Hyderabad',	'field',	'Sunrisers Hyderabad',	'wickets',	'VK Sharma',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980925,	'4/19/2016',	'RV Uthappa',	30,	6,	'Kings XI Punjab',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'C Shamshuddin',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980927,	'4/20/2016',	'RG Sharma',	14,	6,	'Mumbai Indians',	'Royal Challengers Bangalore',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'CK Nandan',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980929,	'4/21/2016',	'B Kumar',	4,	10,	'Gujarat Lions',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Sunrisers Hyderabad',	'wickets',	'HDPK Dharmasena',	'N',	'NA',	'K Bharatan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980931,	'4/22/2016',	'AB de Villiers',	6,	13,	'Rising Pune Supergiants',	'Royal Challengers Bangalore',	'Rising Pune Supergiants',	'field',	'Royal Challengers Bangalore',	'runs',	'VK Sharma',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980933,	'4/23/2016',	'SV Samson',	27,	10,	'Delhi Daredevils',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Delhi Daredevils',	'runs',	'C Shamshuddin',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980935,	'4/23/2016',	'Mustafizur Rahman',	22,	5,	'Sunrisers Hyderabad',	'Kings XI Punjab',	'Sunrisers Hyderabad',	'field',	'Sunrisers Hyderabad',	'wickets',	'CK Nandan',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980937,	'4/24/2016',	'V Kohli',	4,	6,	'Gujarat Lions',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'bat',	'Gujarat Lions',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'K Bharatan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980939,	'4/24/2016',	'SA Yadav',	6,	2,	'Rising Pune Supergiants',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'A Nand Kishore',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980989,	'5/14/2016',	'YK Pathan',	15,	8,	'Kolkata Knight Riders',	'Rising Pune Supergiants',	'Rising Pune Supergiants',	'bat',	'Kolkata Knight Riders',	'wickets',	'BNJ Oxenford',	'N',	'D/L',	'A Nand Kishore',	0	)");
conn.execute("INSERT INTO ipl_matches values(	981001,	'5/19/2016',	'DR Smith',	18,	6,	'Gujarat Lions',	'Kolkata Knight Riders',	'Gujarat Lions',	'field',	'Gujarat Lions',	'wickets',	'CK Nandan',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	981007,	'5/21/2016',	'SK Raina',	18,	6,	'Gujarat Lions',	'Mumbai Indians',	'Gujarat Lions',	'field',	'Gujarat Lions',	'wickets',	'CK Nandan',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	981009,	'5/22/2016',	'YK Pathan',	15,	22,	'Kolkata Knight Riders',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Kolkata Knight Riders',	'runs',	'M Erasmus',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980941,	'4/25/2016',	'PA Patel',	30,	25,	'Kings XI Punjab',	'Mumbai Indians',	'Kings XI Punjab',	'field',	'Mumbai Indians',	'runs',	'RJ Tucker',	'N',	'NA',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980943,	'4/26/2016',	'AB Dinda',	22,	34,	'Sunrisers Hyderabad',	'Rising Pune Supergiants',	'Rising Pune Supergiants',	'field',	'Rising Pune Supergiants',	'runs',	'CK Nandan',	'N',	'D/L',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980945,	'4/27/2016',	'CH Morris',	27,	1,	'Delhi Daredevils',	'Gujarat Lions',	'Delhi Daredevils',	'field',	'Gujarat Lions',	'runs',	'S Ravi',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980947,	'4/28/2016',	'RG Sharma',	14,	6,	'Mumbai Indians',	'Kolkata Knight Riders',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'RJ Tucker',	'N',	'NA',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980949,	'4/29/2016',	'DR Smith',	6,	3,	'Rising Pune Supergiants',	'Gujarat Lions',	'Gujarat Lions',	'field',	'Gujarat Lions',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980951,	'4/30/2016',	'CR Brathwaite',	27,	27,	'Delhi Daredevils',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Delhi Daredevils',	'runs',	'M Erasmus',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980953,	'4/30/2016',	'DA Warner',	22,	15,	'Sunrisers Hyderabad',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Sunrisers Hyderabad',	'runs',	'HDPK Dharmasena',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980955,	'5/1/2016',	'AR Patel',	4,	23,	'Gujarat Lions',	'Kings XI Punjab',	'Gujarat Lions',	'field',	'Kings XI Punjab',	'runs',	'VK Sharma',	'N',	'NA',	'BNJ Oxenford',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980957,	'5/1/2016',	'RG Sharma',	6,	8,	'Rising Pune Supergiants',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'RJ Tucker',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980959,	'5/2/2016',	'AD Russell',	35,	5,	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'S Ravi',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980961,	'5/3/2016',	'RR Pant',	4,	8,	'Gujarat Lions',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980963,	'5/4/2016',	'AD Russell',	15,	7,	'Kolkata Knight Riders',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Kolkata Knight Riders',	'runs',	'HDPK Dharmasena',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980965,	'5/5/2016',	'AM Rahane',	27,	7,	'Delhi Daredevils',	'Rising Pune Supergiants',	'Rising Pune Supergiants',	'field',	'Rising Pune Supergiants',	'wickets',	'RJ Tucker',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980967,	'5/6/2016',	'B Kumar',	22,	5,	'Sunrisers Hyderabad',	'Gujarat Lions',	'Sunrisers Hyderabad',	'field',	'Sunrisers Hyderabad',	'wickets',	'S Ravi',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980969,	'5/7/2016',	'V Kohli',	35,	7,	'Royal Challengers Bangalore',	'Rising Pune Supergiants',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980971,	'5/7/2016',	'MP Stoinis',	30,	9,	'Kings XI Punjab',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Kings XI Punjab',	'runs',	'CK Nandan',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980973,	'5/8/2016',	'A Nehra',	1,	85,	'Mumbai Indians',	'Sunrisers Hyderabad',	'Mumbai Indians',	'field',	'Sunrisers Hyderabad',	'runs',	'C Shamshuddin',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980975,	'5/8/2016',	'P Kumar',	15,	5,	'Kolkata Knight Riders',	'Gujarat Lions',	'Gujarat Lions',	'field',	'Gujarat Lions',	'wickets',	'RJ Tucker',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980981,	'5/11/2016',	'KH Pandya',	35,	6,	'Royal Challengers Bangalore',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'C Shamshuddin',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980987,	'5/14/2016',	'AB de Villiers',	35,	144,	'Royal Challengers Bangalore',	'Gujarat Lions',	'Gujarat Lions',	'field',	'Royal Challengers Bangalore',	'runs',	'VK Sharma',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980977,	'5/9/2016',	'SR Watson',	30,	1,	'Kings XI Punjab',	'Royal Challengers Bangalore',	'Kings XI Punjab',	'field',	'Royal Challengers Bangalore',	'runs',	'HDPK Dharmasena',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980979,	'5/10/2016',	'A Zampa',	1,	4,	'Rising Pune Supergiants',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'bat',	'Sunrisers Hyderabad',	'runs',	'VK Sharma',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980983,	'5/12/2016',	'CH Morris',	22,	7,	'Sunrisers Hyderabad',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'M Erasmus',	'N',	'NA',	'K Bharatan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980985,	'5/13/2016',	'MP Stoinis',	1,	7,	'Mumbai Indians',	'Kings XI Punjab',	'Mumbai Indians',	'bat',	'Kings XI Punjab',	'wickets',	'CK Nandan',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980991,	'5/15/2016',	'HM Amla',	30,	7,	'Kings XI Punjab',	'Sunrisers Hyderabad',	'Kings XI Punjab',	'bat',	'Sunrisers Hyderabad',	'wickets',	'M Erasmus',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980993,	'5/15/2016',	'KH Pandya',	1,	80,	'Mumbai Indians',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Mumbai Indians',	'runs',	'CK Nandan',	'N',	'NA',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980995,	'5/16/2016',	'V Kohli',	15,	9,	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'A Nand Kishore',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980997,	'5/17/2016',	'AB Dinda',	1,	19,	'Rising Pune Supergiants',	'Delhi Daredevils',	'Rising Pune Supergiants',	'field',	'Rising Pune Supergiants',	'runs',	'C Shamshuddin',	'N',	'D/L',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	980999,	'5/18/2016',	'V Kohli',	35,	82,	'Royal Challengers Bangalore',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Royal Challengers Bangalore',	'runs',	'M Erasmus',	'N',	'D/L',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	981003,	'5/20/2016',	'KK Nair',	5,	6,	'Delhi Daredevils',	'Sunrisers Hyderabad',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'A Nand Kishore',	0	)");
conn.execute("INSERT INTO ipl_matches values(	981005,	'5/21/2016',	'MS Dhoni',	1,	4,	'Rising Pune Supergiants',	'Kings XI Punjab',	'Kings XI Punjab',	'bat',	'Rising Pune Supergiants',	'wickets',	'Nitin Menon',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	981011,	'5/22/2016',	'V Kohli',	5,	6,	'Delhi Daredevils',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'A Nand Kishore',	0	)");
conn.execute("INSERT INTO ipl_matches values(	981013,	'5/24/2016',	'AB de Villiers',	35,	4,	'Gujarat Lions',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'HDPK Dharmasena',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	981019,	'5/29/2016',	'BCJ Cutting',	35,	8,	'Royal Challengers Bangalore',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'bat',	'Sunrisers Hyderabad',	'runs',	'BNJ Oxenford',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082591,	'4/5/2017',	'Yuvraj Singh',	22,	35,	'Sunrisers Hyderabad',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Sunrisers Hyderabad',	'runs',	'NJ Llong',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216506,	'11/1/2020',	'RD Gaikwad',	38,	9,	'Kings XI Punjab',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'VK Sharma',	'N',	'NA',	'PG Pathak',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216507,	'10/11/2020',	'R Tewatia',	25,	5,	'Sunrisers Hyderabad',	'Rajasthan Royals',	'Sunrisers Hyderabad',	'bat',	'Rajasthan Royals',	'wickets',	'PR Reiffel',	'N',	'NA',	'YC Barde',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216508,	'9/23/2020',	'RG Sharma',	38,	49,	'Mumbai Indians',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Mumbai Indians',	'runs',	'S Ravi',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082592,	'4/6/2017',	'SPD Smith',	6,	7,	'Rising Pune Supergiant',	'Mumbai Indians',	'Rising Pune Supergiant',	'field',	'Rising Pune Supergiant',	'wickets',	'S Ravi',	'N',	'NA',	'A Nand Kishore',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082593,	'4/7/2017',	'CA Lynn',	4,	10,	'Gujarat Lions',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'CK Nandan',	'N',	'NA',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082594,	'4/8/2017',	'GJ Maxwell',	21,	6,	'Kings XI Punjab',	'Rising Pune Supergiant',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'C Shamshuddin',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082595,	'4/8/2017',	'KM Jadhav',	35,	15,	'Royal Challengers Bangalore',	'Delhi Daredevils',	'Royal Challengers Bangalore',	'bat',	'Royal Challengers Bangalore',	'runs',	'VK Sharma',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082596,	'4/9/2017',	'Rashid Khan',	22,	9,	'Sunrisers Hyderabad',	'Gujarat Lions',	'Sunrisers Hyderabad',	'field',	'Sunrisers Hyderabad',	'wickets',	'NJ Llong',	'N',	'NA',	'A Deshmukh',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082597,	'4/9/2017',	'N Rana',	14,	4,	'Mumbai Indians',	'Kolkata Knight Riders',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'CK Nandan',	'N',	'NA',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082598,	'4/10/2017',	'AR Patel',	21,	8,	'Kings XI Punjab',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'bat',	'Kings XI Punjab',	'wickets',	'C Shamshuddin',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082599,	'4/11/2017',	'SV Samson',	6,	97,	'Rising Pune Supergiant',	'Delhi Daredevils',	'Rising Pune Supergiant',	'field',	'Delhi Daredevils',	'runs',	'S Ravi',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082600,	'4/12/2017',	'JJ Bumrah',	14,	4,	'Mumbai Indians',	'Sunrisers Hyderabad',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'CK Nandan',	'N',	'NA',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082601,	'4/13/2017',	'SP Narine',	15,	8,	'Kolkata Knight Riders',	'Kings XI Punjab',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'NJ Llong',	'N',	'NA',	'A Deshmukh',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082602,	'4/14/2017',	'KA Pollard',	35,	4,	'Royal Challengers Bangalore',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'AK Chaudhary',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082603,	'4/14/2017',	'AJ Tye',	4,	7,	'Gujarat Lions',	'Rising Pune Supergiant',	'Gujarat Lions',	'field',	'Gujarat Lions',	'wickets',	'S Ravi',	'N',	'NA',	'A Nand Kishore',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082604,	'4/15/2017',	'RV Uthappa',	15,	17,	'Kolkata Knight Riders',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Kolkata Knight Riders',	'runs',	'NJ Llong',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082605,	'4/15/2017',	'CJ Anderson',	27,	51,	'Delhi Daredevils',	'Kings XI Punjab',	'Delhi Daredevils',	'bat',	'Delhi Daredevils',	'runs',	'Nitin Menon',	'N',	'NA',	'YC Barde',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082606,	'4/16/2017',	'N Rana',	14,	6,	'Mumbai Indians',	'Gujarat Lions',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'S Ravi',	'N',	'NA',	'A Nand Kishore',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082607,	'4/16/2017',	'BA Stokes',	35,	27,	'Royal Challengers Bangalore',	'Rising Pune Supergiant',	'Royal Challengers Bangalore',	'field',	'Rising Pune Supergiant',	'runs',	'C Shamshuddin',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082608,	'4/17/2017',	'NM Coulter-Nile',	27,	4,	'Delhi Daredevils',	'Kolkata Knight Riders',	'Delhi Daredevils',	'bat',	'Kolkata Knight Riders',	'wickets',	'CK Nandan',	'N',	'NA',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082609,	'4/17/2017',	'B Kumar',	22,	5,	'Sunrisers Hyderabad',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Sunrisers Hyderabad',	'runs',	'A Deshmukh',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082612,	'4/20/2017',	'JC Buttler',	21,	8,	'Kings XI Punjab',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'C Shamshuddin',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082613,	'4/21/2017',	'SK Raina',	15,	4,	'Kolkata Knight Riders',	'Gujarat Lions',	'Gujarat Lions',	'field',	'Gujarat Lions',	'wickets',	'Nitin Menon',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082614,	'4/22/2017',	'MJ McClenaghan',	14,	14,	'Mumbai Indians',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Mumbai Indians',	'runs',	'S Ravi',	'N',	'NA',	'A Nand Kishore',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082610,	'4/18/2017',	'CH Gayle',	4,	21,	'Gujarat Lions',	'Royal Challengers Bangalore',	'Gujarat Lions',	'field',	'Royal Challengers Bangalore',	'runs',	'VK Sharma',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082611,	'4/19/2017',	'KS Williamson',	22,	15,	'Sunrisers Hyderabad',	'Delhi Daredevils',	'Sunrisers Hyderabad',	'bat',	'Sunrisers Hyderabad',	'runs',	'NJ Llong',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082615,	'4/22/2017',	'MS Dhoni',	6,	6,	'Rising Pune Supergiant',	'Sunrisers Hyderabad',	'Rising Pune Supergiant',	'field',	'Rising Pune Supergiant',	'wickets',	'A Deshmukh',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082616,	'4/23/2017',	'HM Amla',	4,	26,	'Gujarat Lions',	'Kings XI Punjab',	'Gujarat Lions',	'field',	'Kings XI Punjab',	'runs',	'M Erasmus',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082617,	'4/23/2017',	'NM Coulter-Nile',	15,	82,	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Kolkata Knight Riders',	'runs',	'CK Nandan',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082618,	'4/24/2017',	'BA Stokes',	14,	3,	'Mumbai Indians',	'Rising Pune Supergiant',	'Mumbai Indians',	'field',	'Rising Pune Supergiant',	'runs',	'S Ravi',	'N',	'NA',	'A Nand Kishore',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082620,	'4/26/2017',	'RV Uthappa',	6,	7,	'Rising Pune Supergiant',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'NJ Llong',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082621,	'4/27/2017',	'AJ Tye',	35,	7,	'Royal Challengers Bangalore',	'Gujarat Lions',	'Gujarat Lions',	'field',	'Gujarat Lions',	'wickets',	'C Shamshuddin',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082622,	'4/28/2017',	'G Gambhir',	15,	7,	'Kolkata Knight Riders',	'Delhi Daredevils',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'S Ravi',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082623,	'4/28/2017',	'Rashid Khan',	30,	26,	'Kings XI Punjab',	'Sunrisers Hyderabad',	'Kings XI Punjab',	'field',	'Sunrisers Hyderabad',	'runs',	'CK Nandan',	'N',	'NA',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082624,	'4/29/2017',	'LH Ferguson',	6,	61,	'Rising Pune Supergiant',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Rising Pune Supergiant',	'runs',	'M Erasmus',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082625,	'4/29/2017',	'KH Pandya',	4,	'NA',	'Gujarat Lions',	'Mumbai Indians',	'Gujarat Lions',	'bat',	'Mumbai Indians',	'tie',	'CB Gaffaney',	'Y',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082626,	'4/30/2017',	'Sandeep Sharma',	30,	10,	'Kings XI Punjab',	'Delhi Daredevils',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'CK Nandan',	'N',	'NA',	'YC Barde',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082627,	'4/30/2017',	'DA Warner',	22,	48,	'Sunrisers Hyderabad',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Sunrisers Hyderabad',	'runs',	'S Ravi',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082628,	'5/1/2017',	'RG Sharma',	14,	5,	'Mumbai Indians',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'bat',	'Mumbai Indians',	'wickets',	'CB Gaffaney',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082629,	'5/1/2017',	'BA Stokes',	6,	5,	'Rising Pune Supergiant',	'Gujarat Lions',	'Rising Pune Supergiant',	'field',	'Rising Pune Supergiant',	'wickets',	'C Shamshuddin',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082630,	'5/2/2017',	'Mohammed Shami',	27,	6,	'Delhi Daredevils',	'Sunrisers Hyderabad',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'Nitin Menon',	'N',	'NA',	'YC Barde',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136563,	'4/8/2018',	'SP Narine',	15,	4,	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'A Deshmukh',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136566,	'4/11/2018',	'SV Samson',	20,	10,	'Rajasthan Royals',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Rajasthan Royals',	'runs',	'Nitin Menon',	'N',	'D/L',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136569,	'4/14/2018',	'JJ Roy',	14,	7,	'Mumbai Indians',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'Nitin Menon',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082631,	'5/3/2017',	'RA Tripathi',	15,	4,	'Kolkata Knight Riders',	'Rising Pune Supergiant',	'Rising Pune Supergiant',	'field',	'Rising Pune Supergiant',	'wickets',	'A Nand Kishore',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082632,	'5/4/2017',	'RR Pant',	27,	7,	'Delhi Daredevils',	'Gujarat Lions',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'Nitin Menon',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082633,	'5/5/2017',	'Sandeep Sharma',	35,	19,	'Royal Challengers Bangalore',	'Kings XI Punjab',	'Royal Challengers Bangalore',	'field',	'Kings XI Punjab',	'runs',	'C Shamshuddin',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082634,	'5/6/2017',	'JD Unadkat',	22,	12,	'Sunrisers Hyderabad',	'Rising Pune Supergiant',	'Sunrisers Hyderabad',	'field',	'Rising Pune Supergiant',	'runs',	'AK Chaudhary',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082635,	'5/6/2017',	'LMP Simmons',	27,	146,	'Delhi Daredevils',	'Mumbai Indians',	'Delhi Daredevils',	'field',	'Mumbai Indians',	'runs',	'CK Nandan',	'N',	'NA',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082636,	'5/7/2017',	'SP Narine',	35,	6,	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'C Shamshuddin',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082637,	'5/7/2017',	'DR Smith',	30,	6,	'Kings XI Punjab',	'Gujarat Lions',	'Gujarat Lions',	'field',	'Gujarat Lions',	'wickets',	'VK Sharma',	'N',	'NA',	'A Nand Kishore',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082638,	'5/8/2017',	'S Dhawan',	22,	7,	'Sunrisers Hyderabad',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Sunrisers Hyderabad',	'wickets',	'M Erasmus',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082639,	'5/9/2017',	'MM Sharma',	30,	14,	'Kings XI Punjab',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kings XI Punjab',	'runs',	'S Ravi',	'N',	'NA',	'A Nand Kishore',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082640,	'5/10/2017',	'SS Iyer',	18,	2,	'Gujarat Lions',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Delhi Daredevils',	'wickets',	'AK Chaudhary',	'N',	'NA',	'YC Barde',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082641,	'5/11/2017',	'WP Saha',	14,	7,	'Mumbai Indians',	'Kings XI Punjab',	'Mumbai Indians',	'field',	'Kings XI Punjab',	'runs',	'A Nand Kishore',	'N',	'NA',	'A Deshmukh',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082642,	'5/12/2017',	'KK Nair',	27,	7,	'Delhi Daredevils',	'Rising Pune Supergiant',	'Delhi Daredevils',	'bat',	'Delhi Daredevils',	'runs',	'CK Nandan',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082643,	'5/13/2017',	'Mohammed Siraj',	18,	8,	'Gujarat Lions',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Sunrisers Hyderabad',	'wickets',	'Nitin Menon',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082644,	'5/13/2017',	'AT Rayudu',	15,	9,	'Kolkata Knight Riders',	'Mumbai Indians',	'Kolkata Knight Riders',	'field',	'Mumbai Indians',	'runs',	'S Ravi',	'N',	'NA',	'A Nand Kishore',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082645,	'5/14/2017',	'JD Unadkat',	6,	9,	'Rising Pune Supergiant',	'Kings XI Punjab',	'Rising Pune Supergiant',	'field',	'Rising Pune Supergiant',	'wickets',	'A Deshmukh',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082646,	'5/14/2017',	'HV Patel',	27,	10,	'Delhi Daredevils',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'bat',	'Royal Challengers Bangalore',	'runs',	'C Shamshuddin',	'N',	'NA',	'CK Nandan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082647,	'5/16/2017',	'Washington Sundar',	14,	20,	'Mumbai Indians',	'Rising Pune Supergiant',	'Mumbai Indians',	'field',	'Rising Pune Supergiant',	'runs',	'C Shamshuddin',	'N',	'NA',	'S Ravi',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082649,	'5/19/2017',	'KV Sharma',	35,	6,	'Mumbai Indians',	'Kolkata Knight Riders',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'Nitin Menon',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082650,	'5/21/2017',	'KH Pandya',	22,	1,	'Mumbai Indians',	'Rising Pune Supergiant',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'S Ravi',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136561,	'4/7/2018',	'DJ Bravo',	14,	1,	'Mumbai Indians',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'A Nand Kishore',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1082648,	'5/17/2017',	'NM Coulter-Nile',	35,	7,	'Sunrisers Hyderabad',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'Nitin Menon',	'N',	'D/L',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136562,	'4/8/2018',	'KL Rahul',	30,	6,	'Kings XI Punjab',	'Delhi Daredevils',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'RJ Tucker',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136564,	'4/9/2018',	'S Dhawan',	22,	9,	'Sunrisers Hyderabad',	'Rajasthan Royals',	'Sunrisers Hyderabad',	'field',	'Sunrisers Hyderabad',	'wickets',	'NJ Llong',	'N',	'NA',	'VA Kulkarni',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136565,	'4/10/2018',	'SW Billings',	29,	5,	'Chennai Super Kings',	'Kolkata Knight Riders',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'AK Chaudhary',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136567,	'4/12/2018',	'Rashid Khan',	22,	1,	'Sunrisers Hyderabad',	'Mumbai Indians',	'Sunrisers Hyderabad',	'field',	'Sunrisers Hyderabad',	'wickets',	'CK Nandan',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136568,	'4/13/2018',	'UT Yadav',	35,	4,	'Royal Challengers Bangalore',	'Kings XI Punjab',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'S Ravi',	'N',	'NA',	'A Deshmukh',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136570,	'4/14/2018',	'B Stanlake',	15,	5,	'Kolkata Knight Riders',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Sunrisers Hyderabad',	'wickets',	'A Nand Kishore',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136571,	'4/15/2018',	'SV Samson',	35,	19,	'Royal Challengers Bangalore',	'Rajasthan Royals',	'Royal Challengers Bangalore',	'field',	'Rajasthan Royals',	'runs',	'S Ravi',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136572,	'4/15/2018',	'CH Gayle',	30,	4,	'Kings XI Punjab',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Kings XI Punjab',	'runs',	'CK Nandan',	'N',	'NA',	'VA Kulkarni',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136573,	'4/16/2018',	'N Rana',	15,	71,	'Kolkata Knight Riders',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Kolkata Knight Riders',	'runs',	'A Nand Kishore',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136574,	'4/17/2018',	'RG Sharma',	14,	46,	'Mumbai Indians',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Mumbai Indians',	'runs',	'Nitin Menon',	'N',	'NA',	'RJ Tucker',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136575,	'4/18/2018',	'N Rana',	20,	7,	'Rajasthan Royals',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'S Ravi',	'N',	'NA',	'A Deshmukh',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136576,	'4/19/2018',	'CH Gayle',	30,	15,	'Kings XI Punjab',	'Sunrisers Hyderabad',	'Kings XI Punjab',	'bat',	'Kings XI Punjab',	'runs',	'AK Chaudhary',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136577,	'4/20/2018',	'SR Watson',	6,	64,	'Chennai Super Kings',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Chennai Super Kings',	'runs',	'Nitin Menon',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136578,	'4/21/2018',	'KL Rahul',	15,	9,	'Kolkata Knight Riders',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'A Deshmukh',	'N',	'D/L',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136579,	'4/21/2018',	'AB de Villiers',	35,	6,	'Royal Challengers Bangalore',	'Delhi Daredevils',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'CK Nandan',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216497,	'10/24/2020',	'CV Varun',	38,	59,	'Kolkata Knight Riders',	'Delhi Capitals',	'Delhi Capitals',	'field',	'Kolkata Knight Riders',	'runs',	'PG Pathak',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216498,	'10/24/2020',	'CJ Jordan',	25,	12,	'Kings XI Punjab',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Kings XI Punjab',	'runs',	'PR Reiffel',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216499,	'10/28/2020',	'SA Yadav',	38,	5,	'Royal Challengers Bangalore',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'CB Gaffaney',	'N',	'NA',	'UV Gandhe',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216500,	'10/9/2020',	'R Ashwin',	2,	46,	'Delhi Capitals',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Delhi Capitals',	'runs',	'C Shamshuddin',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136580,	'4/22/2018',	'AT Rayudu',	22,	4,	'Sunrisers Hyderabad',	'Chennai Super Kings',	'Sunrisers Hyderabad',	'field',	'Chennai Super Kings',	'runs',	'AK Chaudhary',	'N',	'NA',	'VA Kulkarni',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136581,	'4/22/2018',	'JC Archer',	20,	3,	'Rajasthan Royals',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Rajasthan Royals',	'wickets',	'RJ Tucker',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136582,	'4/23/2018',	'AS Rajpoot',	27,	4,	'Delhi Daredevils',	'Kings XI Punjab',	'Delhi Daredevils',	'field',	'Kings XI Punjab',	'runs',	'CK Nandan',	'N',	'NA',	'A Nand Kishore',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136583,	'4/24/2018',	'Rashid Khan',	14,	31,	'Mumbai Indians',	'Sunrisers Hyderabad',	'Mumbai Indians',	'field',	'Sunrisers Hyderabad',	'runs',	'S Ravi',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136584,	'4/25/2018',	'MS Dhoni',	35,	5,	'Royal Challengers Bangalore',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'VK Sharma',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136585,	'4/26/2018',	'AS Rajpoot',	22,	13,	'Sunrisers Hyderabad',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Sunrisers Hyderabad',	'runs',	'CK Nandan',	'N',	'NA',	'YC Barde',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136586,	'4/27/2018',	'SS Iyer',	27,	55,	'Delhi Daredevils',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Delhi Daredevils',	'runs',	'S Ravi',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136587,	'4/28/2018',	'RG Sharma',	6,	8,	'Chennai Super Kings',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'Nitin Menon',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136588,	'4/29/2018',	'KS Williamson',	20,	11,	'Rajasthan Royals',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'bat',	'Sunrisers Hyderabad',	'runs',	'A Nand Kishore',	'N',	'NA',	'BNJ Oxenford',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136589,	'4/29/2018',	'CA Lynn',	35,	6,	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'AK Chaudhary',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136590,	'4/30/2018',	'SR Watson',	6,	13,	'Chennai Super Kings',	'Delhi Daredevils',	'Delhi Daredevils',	'field',	'Chennai Super Kings',	'runs',	'C Shamshuddin',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136591,	'5/1/2018',	'TG Southee',	35,	14,	'Royal Challengers Bangalore',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Royal Challengers Bangalore',	'runs',	'Nitin Menon',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136592,	'5/2/2018',	'RR Pant',	27,	4,	'Delhi Daredevils',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Delhi Daredevils',	'runs',	'CK Nandan',	'N',	'D/L',	'VK Sharma',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136593,	'5/3/2018',	'SP Narine',	15,	6,	'Kolkata Knight Riders',	'Chennai Super Kings',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'A Deshmukh',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136594,	'5/4/2018',	'SA Yadav',	21,	6,	'Kings XI Punjab',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'S Ravi',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136595,	'5/5/2018',	'RA Jadeja',	6,	6,	'Chennai Super Kings',	'Royal Challengers Bangalore',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'YC Barde',	'N',	'NA',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136596,	'5/5/2018',	'Rashid Khan',	22,	7,	'Sunrisers Hyderabad',	'Delhi Daredevils',	'Delhi Daredevils',	'bat',	'Sunrisers Hyderabad',	'wickets',	'CK Nandan',	'N',	'NA',	'BNJ Oxenford',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136597,	'5/6/2018',	'HH Pandya',	14,	13,	'Mumbai Indians',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Mumbai Indians',	'runs',	'A Deshmukh',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136598,	'5/6/2018',	'Mujeeb Ur Rahman',	21,	6,	'Kings XI Punjab',	'Rajasthan Royals',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'S Ravi',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136600,	'5/8/2018',	'JC Buttler',	20,	15,	'Rajasthan Royals',	'Kings XI Punjab',	'Rajasthan Royals',	'bat',	'Rajasthan Royals',	'runs',	'Nitin Menon',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136601,	'5/9/2018',	'Ishan Kishan',	15,	102,	'Kolkata Knight Riders',	'Mumbai Indians',	'Kolkata Knight Riders',	'field',	'Mumbai Indians',	'runs',	'AK Chaudhary',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136599,	'5/7/2018',	'KS Williamson',	22,	5,	'Sunrisers Hyderabad',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Sunrisers Hyderabad',	'runs',	'VK Sharma',	'N',	'NA',	'BNJ Oxenford',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136602,	'5/10/2018',	'S Dhawan',	27,	9,	'Delhi Daredevils',	'Sunrisers Hyderabad',	'Delhi Daredevils',	'bat',	'Sunrisers Hyderabad',	'wickets',	'C Shamshuddin',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136603,	'5/11/2018',	'JC Buttler',	20,	4,	'Rajasthan Royals',	'Chennai Super Kings',	'Chennai Super Kings',	'bat',	'Rajasthan Royals',	'wickets',	'YC Barde',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136604,	'5/12/2018',	'SP Narine',	21,	31,	'Kings XI Punjab',	'Kolkata Knight Riders',	'Kings XI Punjab',	'field',	'Kolkata Knight Riders',	'runs',	'CK Nandan',	'N',	'NA',	'VK Sharma',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136605,	'5/12/2018',	'AB de Villiers',	27,	5,	'Delhi Daredevils',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'HDPK Dharmasena',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136606,	'5/13/2018',	'AT Rayudu',	6,	8,	'Chennai Super Kings',	'Sunrisers Hyderabad',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'YC Barde',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136607,	'5/13/2018',	'JC Buttler',	14,	7,	'Mumbai Indians',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'S Ravi',	'N',	'NA',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136608,	'5/14/2018',	'UT Yadav',	21,	10,	'Kings XI Punjab',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'VK Sharma',	'N',	'NA',	'BNJ Oxenford',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136609,	'5/15/2018',	'Kuldeep Yadav',	15,	6,	'Kolkata Knight Riders',	'Rajasthan Royals',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'AK Chaudhary',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136610,	'5/16/2018',	'JJ Bumrah',	14,	3,	'Mumbai Indians',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Mumbai Indians',	'runs',	'Nitin Menon',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136611,	'5/17/2018',	'AB de Villiers',	35,	14,	'Royal Challengers Bangalore',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Royal Challengers Bangalore',	'runs',	'S Ravi',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136612,	'5/18/2018',	'HV Patel',	27,	34,	'Delhi Daredevils',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Delhi Daredevils',	'runs',	'HDPK Dharmasena',	'N',	'NA',	'VA Kulkarni',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136613,	'5/19/2018',	'S Gopal',	20,	30,	'Rajasthan Royals',	'Royal Challengers Bangalore',	'Rajasthan Royals',	'bat',	'Rajasthan Royals',	'runs',	'VK Sharma',	'N',	'NA',	'BNJ Oxenford',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136614,	'5/19/2018',	'CA Lynn',	22,	5,	'Sunrisers Hyderabad',	'Kolkata Knight Riders',	'Sunrisers Hyderabad',	'bat',	'Kolkata Knight Riders',	'wickets',	'S Ravi',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136615,	'5/20/2018',	'A Mishra',	27,	11,	'Delhi Daredevils',	'Mumbai Indians',	'Delhi Daredevils',	'bat',	'Delhi Daredevils',	'runs',	'CK Nandan',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136616,	'5/20/2018',	'L Ngidi',	6,	5,	'Chennai Super Kings',	'Kings XI Punjab',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'YC Barde',	'N',	'NA',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136617,	'5/22/2018',	'F du Plessis',	14,	2,	'Sunrisers Hyderabad',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'M Erasmus',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136618,	'5/23/2018',	'AD Russell',	15,	25,	'Kolkata Knight Riders',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Kolkata Knight Riders',	'runs',	'Nitin Menon',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136619,	'5/25/2018',	'Rashid Khan',	15,	14,	'Kolkata Knight Riders',	'Sunrisers Hyderabad',	'Kolkata Knight Riders',	'field',	'Sunrisers Hyderabad',	'runs',	'Nitin Menon',	'N',	'NA',	'HDPK Dharmasena',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1136620,	'5/27/2018',	'SR Watson',	14,	8,	'Chennai Super Kings',	'Sunrisers Hyderabad',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'S Ravi',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1175356,	'3/23/2019',	'Harbhajan Singh',	29,	7,	'Chennai Super Kings',	'Royal Challengers Bangalore',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1175357,	'3/24/2019',	'AD Russell',	15,	6,	'Kolkata Knight Riders',	'Sunrisers Hyderabad',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'AK Chaudhary',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1175358,	'3/24/2019',	'RR Pant',	14,	37,	'Mumbai Indians',	'Delhi Capitals',	'Mumbai Indians',	'field',	'Delhi Capitals',	'runs',	'S Ravi',	'N',	'NA',	'YC Barde',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1175359,	'3/25/2019',	'CH Gayle',	20,	14,	'Rajasthan Royals',	'Kings XI Punjab',	'Rajasthan Royals',	'field',	'Kings XI Punjab',	'runs',	'C Shamshuddin',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1175360,	'3/26/2019',	'SR Watson',	27,	6,	'Delhi Capitals',	'Chennai Super Kings',	'Delhi Capitals',	'bat',	'Chennai Super Kings',	'wickets',	'Nitin Menon',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1175361,	'3/27/2019',	'AD Russell',	15,	28,	'Kolkata Knight Riders',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Kolkata Knight Riders',	'runs',	'AK Chaudhary',	'N',	'NA',	'VA Kulkarni',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1175362,	'3/28/2019',	'JJ Bumrah',	35,	6,	'Royal Challengers Bangalore',	'Mumbai Indians',	'Royal Challengers Bangalore',	'field',	'Mumbai Indians',	'runs',	'S Ravi',	'N',	'NA',	'CK Nandan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1175363,	'3/29/2019',	'Rashid Khan',	22,	5,	'Sunrisers Hyderabad',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Sunrisers Hyderabad',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1175364,	'3/30/2019',	'MA Agarwal',	30,	8,	'Kings XI Punjab',	'Mumbai Indians',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'CB Gaffaney',	'N',	'NA',	'VA Kulkarni',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1175365,	'3/30/2019',	'PP Shaw',	27,	'NA',	'Delhi Capitals',	'Kolkata Knight Riders',	'Delhi Capitals',	'field',	'Delhi Capitals',	'tie',	'Nitin Menon',	'Y',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1175366,	'3/31/2019',	'JM Bairstow',	22,	118,	'Sunrisers Hyderabad',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Sunrisers Hyderabad',	'runs',	'S Ravi',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1175367,	'3/31/2019',	'MS Dhoni',	29,	8,	'Chennai Super Kings',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Chennai Super Kings',	'runs',	'CK Nandan',	'N',	'NA',	'YC Barde',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1175368,	'4/1/2019',	'SM Curran',	30,	14,	'Kings XI Punjab',	'Delhi Capitals',	'Delhi Capitals',	'field',	'Kings XI Punjab',	'runs',	'AK Chaudhary',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1175369,	'4/2/2019',	'S Gopal',	20,	7,	'Rajasthan Royals',	'Royal Challengers Bangalore',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'M Erasmus',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1175370,	'4/3/2019',	'HH Pandya',	14,	37,	'Mumbai Indians',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Mumbai Indians',	'runs',	'BNJ Oxenford',	'N',	'NA',	'RJ Tucker',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1175371,	'4/4/2019',	'JM Bairstow',	27,	5,	'Delhi Capitals',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Sunrisers Hyderabad',	'wickets',	'C Shamshuddin',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1175372,	'4/5/2019',	'AD Russell',	35,	5,	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'AK Chaudhary',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178395,	'4/7/2019',	'K Rabada',	35,	4,	'Royal Challengers Bangalore',	'Delhi Capitals',	'Delhi Capitals',	'field',	'Delhi Capitals',	'wickets',	'S Ravi',	'N',	'NA',	'YC Barde',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178396,	'4/7/2019',	'HF Gurney',	20,	8,	'Rajasthan Royals',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'AK Chaudhary',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178399,	'4/10/2019',	'KA Pollard',	14,	3,	'Mumbai Indians',	'Kings XI Punjab',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'S Ravi',	'N',	'NA',	'YC Barde',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178400,	'4/11/2019',	'MS Dhoni',	20,	4,	'Rajasthan Royals',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'UV Gandhe',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178393,	'4/6/2019',	'Harbhajan Singh',	29,	22,	'Chennai Super Kings',	'Kings XI Punjab',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'RJ Tucker',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178394,	'4/6/2019',	'AS Joseph',	22,	40,	'Sunrisers Hyderabad',	'Mumbai Indians',	'Sunrisers Hyderabad',	'field',	'Mumbai Indians',	'runs',	'Nitin Menon',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178397,	'4/8/2019',	'KL Rahul',	30,	6,	'Kings XI Punjab',	'Sunrisers Hyderabad',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'M Erasmus',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178398,	'4/9/2019',	'DL Chahar',	29,	7,	'Chennai Super Kings',	'Kolkata Knight Riders',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'C Shamshuddin',	'N',	'NA',	'RJ Tucker',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178401,	'4/12/2019',	'S Dhawan',	15,	7,	'Kolkata Knight Riders',	'Delhi Capitals',	'Delhi Capitals',	'field',	'Delhi Capitals',	'wickets',	'CK Nandan',	'N',	'NA',	'YC Barde',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178402,	'4/13/2019',	'JC Buttler',	14,	4,	'Mumbai Indians',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'A Nand Kishore',	'N',	'NA',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178403,	'4/13/2019',	'AB de Villiers',	30,	8,	'Kings XI Punjab',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'S Ravi',	'N',	'NA',	'UV Gandhe',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178404,	'4/14/2019',	'Imran Tahir',	15,	5,	'Kolkata Knight Riders',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'CK Nandan',	'N',	'NA',	'RJ Tucker',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178405,	'4/14/2019',	'KMA Paul',	22,	39,	'Sunrisers Hyderabad',	'Delhi Capitals',	'Sunrisers Hyderabad',	'field',	'Delhi Capitals',	'runs',	'AK Chaudhary',	'N',	'NA',	'BNJ Oxenford',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178406,	'4/15/2019',	'SL Malinga',	14,	5,	'Mumbai Indians',	'Royal Challengers Bangalore',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'Nitin Menon',	'N',	'NA',	'M Erasmus',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178407,	'4/16/2019',	'R Ashwin',	30,	12,	'Kings XI Punjab',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Kings XI Punjab',	'runs',	'AK Chaudhary',	'N',	'NA',	'VA Kulkarni',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178408,	'4/17/2019',	'DA Warner',	22,	6,	'Sunrisers Hyderabad',	'Chennai Super Kings',	'Chennai Super Kings',	'bat',	'Sunrisers Hyderabad',	'wickets',	'IJ Gould',	'N',	'NA',	'UV Gandhe',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178409,	'4/18/2019',	'HH Pandya',	27,	40,	'Delhi Capitals',	'Mumbai Indians',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'NJ Llong',	'N',	'NA',	'BNJ Oxenford',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178410,	'4/19/2019',	'V Kohli',	15,	10,	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'field',	'Royal Challengers Bangalore',	'runs',	'Nitin Menon',	'N',	'NA',	'IJ Gould',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178411,	'4/20/2019',	'SPD Smith',	20,	5,	'Rajasthan Royals',	'Mumbai Indians',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'S Ravi',	'N',	'NA',	'YC Barde',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178412,	'4/20/2019',	'SS Iyer',	27,	5,	'Delhi Capitals',	'Kings XI Punjab',	'Delhi Capitals',	'field',	'Delhi Capitals',	'wickets',	'C Shamshuddin',	'N',	'NA',	'UV Gandhe',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178413,	'4/21/2019',	'KK Ahmed',	22,	9,	'Sunrisers Hyderabad',	'Kolkata Knight Riders',	'Sunrisers Hyderabad',	'field',	'Sunrisers Hyderabad',	'wickets',	'Nitin Menon',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216493,	'9/20/2020',	'MP Stoinis',	25,	'NA',	'Delhi Capitals',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Delhi Capitals',	'tie',	'Nitin Menon',	'Y',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216495,	'11/3/2020',	'S Nadeem',	2,	10,	'Mumbai Indians',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Sunrisers Hyderabad',	'wickets',	'RK Illingworth',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216496,	'9/22/2020',	'SV Samson',	2,	16,	'Rajasthan Royals',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Rajasthan Royals',	'runs',	'VA Kulkarni',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178414,	'4/21/2019',	'PA Patel',	35,	1,	'Royal Challengers Bangalore',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Royal Challengers Bangalore',	'runs',	'VA Kulkarni',	'N',	'NA',	'RJ Tucker',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178415,	'4/22/2019',	'RR Pant',	20,	6,	'Rajasthan Royals',	'Delhi Capitals',	'Delhi Capitals',	'field',	'Delhi Capitals',	'wickets',	'S Ravi',	'N',	'NA',	'A Nand Kishore',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178416,	'4/23/2019',	'SR Watson',	29,	6,	'Chennai Super Kings',	'Sunrisers Hyderabad',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'AK Chaudhary',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178417,	'4/24/2019',	'AB de Villiers',	35,	17,	'Royal Challengers Bangalore',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Royal Challengers Bangalore',	'runs',	'BNJ Oxenford',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178418,	'4/25/2019',	'VR Aaron',	15,	3,	'Kolkata Knight Riders',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'IJ Gould',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178419,	'4/26/2019',	'RG Sharma',	29,	46,	'Chennai Super Kings',	'Mumbai Indians',	'Chennai Super Kings',	'field',	'Mumbai Indians',	'runs',	'AK Chaudhary',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178420,	'4/27/2019',	'JD Unadkat',	20,	7,	'Rajasthan Royals',	'Sunrisers Hyderabad',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'A Nand Kishore',	'N',	'NA',	'YC Barde',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178421,	'4/28/2019',	'S Dhawan',	27,	16,	'Delhi Capitals',	'Royal Challengers Bangalore',	'Delhi Capitals',	'bat',	'Delhi Capitals',	'runs',	'BNJ Oxenford',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178422,	'4/28/2019',	'AD Russell',	15,	34,	'Kolkata Knight Riders',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Kolkata Knight Riders',	'runs',	'Nitin Menon',	'N',	'NA',	'IJ Gould',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178423,	'4/29/2019',	'DA Warner',	22,	45,	'Sunrisers Hyderabad',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Sunrisers Hyderabad',	'runs',	'S Ravi',	'N',	'NA',	'CK Nandan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178424,	'4/30/2019',	'NA',	35,	'NA',	'Royal Challengers Bangalore',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'NA',	'NA',	'NJ Llong',	'NA',	'NA',	'UV Gandhe',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178425,	'5/1/2019',	'MS Dhoni',	29,	80,	'Chennai Super Kings',	'Delhi Capitals',	'Delhi Capitals',	'field',	'Chennai Super Kings',	'runs',	'Nitin Menon',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178426,	'5/2/2019',	'JJ Bumrah',	14,	'NA',	'Mumbai Indians',	'Sunrisers Hyderabad',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'tie',	'S Ravi',	'Y',	'NA',	'CK Nandan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178427,	'5/3/2019',	'Shubman Gill',	30,	7,	'Kings XI Punjab',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Kolkata Knight Riders',	'wickets',	'BNJ Oxenford',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178428,	'5/4/2019',	'A Mishra',	27,	5,	'Delhi Capitals',	'Rajasthan Royals',	'Rajasthan Royals',	'bat',	'Delhi Capitals',	'wickets',	'IJ Gould',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178429,	'5/4/2019',	'SO Hetmyer',	35,	4,	'Royal Challengers Bangalore',	'Sunrisers Hyderabad',	'Royal Challengers Bangalore',	'field',	'Royal Challengers Bangalore',	'wickets',	'AK Chaudhary',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178430,	'5/5/2019',	'KL Rahul',	30,	6,	'Kings XI Punjab',	'Chennai Super Kings',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'C Shamshuddin',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1178431,	'5/5/2019',	'HH Pandya',	14,	9,	'Mumbai Indians',	'Kolkata Knight Riders',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'CK Nandan',	'N',	'NA',	'A Nand Kishore',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1181764,	'5/7/2019',	'SA Yadav',	29,	6,	'Mumbai Indians',	'Chennai Super Kings',	'Chennai Super Kings',	'bat',	'Mumbai Indians',	'wickets',	'Nitin Menon',	'N',	'NA',	'NJ Llong',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1181768,	'5/12/2019',	'JJ Bumrah',	22,	1,	'Mumbai Indians',	'Chennai Super Kings',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'Nitin Menon',	'N',	'NA',	'IJ Gould',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216492,	'9/19/2020',	'AT Rayudu',	38,	5,	'Mumbai Indians',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'VK Sharma',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1181766,	'5/8/2019',	'RR Pant',	1,	2,	'Delhi Capitals',	'Sunrisers Hyderabad',	'Delhi Capitals',	'field',	'Delhi Capitals',	'wickets',	'S Ravi',	'N',	'NA',	'BNJ Oxenford',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1181767,	'5/10/2019',	'F du Plessis',	1,	6,	'Chennai Super Kings',	'Delhi Capitals',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'S Ravi',	'N',	'NA',	'BNJ Oxenford',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216494,	'10/21/2020',	'Mohammed Siraj',	38,	8,	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'bat',	'Royal Challengers Bangalore',	'wickets',	'S Ravi',	'N',	'NA',	'VK Sharma',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216501,	'10/7/2020',	'RA Tripathi',	38,	10,	'Kolkata Knight Riders',	'Chennai Super Kings',	'Kolkata Knight Riders',	'bat',	'Kolkata Knight Riders',	'runs',	'RK Illingworth',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216502,	'10/31/2020',	'Sandeep Sharma',	2,	5,	'Royal Challengers Bangalore',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Sunrisers Hyderabad',	'wickets',	'K Srinivasan',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216504,	'9/30/2020',	'Shivam Mavi',	25,	37,	'Kolkata Knight Riders',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Kolkata Knight Riders',	'runs',	'C Shamshuddin',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216509,	'10/17/2020',	'S Dhawan',	2,	5,	'Chennai Super Kings',	'Delhi Capitals',	'Chennai Super Kings',	'bat',	'Delhi Capitals',	'wickets',	'RK Illingworth',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216510,	'9/24/2020',	'KL Rahul',	25,	97,	'Kings XI Punjab',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Kings XI Punjab',	'runs',	'PR Reiffel',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216511,	'10/6/2020',	'SA Yadav',	38,	57,	'Mumbai Indians',	'Rajasthan Royals',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'S Ravi',	'N',	'NA',	'VK Sharma',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216512,	'10/18/2020',	'LH Ferguson',	38,	'NA',	'Kolkata Knight Riders',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Kolkata Knight Riders',	'tie',	'S Ravi',	'Y',	'NA',	'PG Pathak',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216513,	'10/4/2020',	'SR Watson',	25,	10,	'Kings XI Punjab',	'Chennai Super Kings',	'Kings XI Punjab',	'bat',	'Chennai Super Kings',	'wickets',	'Nitin Menon',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216514,	'10/3/2020',	'YS Chahal',	38,	8,	'Rajasthan Royals',	'Royal Challengers Bangalore',	'Rajasthan Royals',	'bat',	'Royal Challengers Bangalore',	'wickets',	'S Ravi',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216515,	'10/3/2020',	'SS Iyer',	2,	18,	'Delhi Capitals',	'Kolkata Knight Riders',	'Kolkata Knight Riders',	'field',	'Delhi Capitals',	'runs',	'RK Illingworth',	'N',	'NA',	'VA Kulkarni',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216516,	'10/2/2020',	'PK Garg',	25,	7,	'Sunrisers Hyderabad',	'Chennai Super Kings',	'Sunrisers Hyderabad',	'bat',	'Sunrisers Hyderabad',	'runs',	'PR Reiffel',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216517,	'10/18/2020',	'KL Rahul',	25,	'NA',	'Mumbai Indians',	'Kings XI Punjab',	'Mumbai Indians',	'bat',	'Kings XI Punjab',	'tie',	'PR Reiffel',	'Y',	'NA',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216518,	'10/22/2020',	'MK Pandey',	25,	8,	'Rajasthan Royals',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Sunrisers Hyderabad',	'wickets',	'PR Reiffel',	'N',	'NA',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216519,	'10/5/2020',	'AR Patel',	25,	59,	'Delhi Capitals',	'Royal Challengers Bangalore',	'Royal Challengers Bangalore',	'field',	'Delhi Capitals',	'runs',	'YC Barde',	'N',	'NA',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216520,	'10/26/2020',	'CH Gayle',	2,	8,	'Kolkata Knight Riders',	'Kings XI Punjab',	'Kings XI Punjab',	'field',	'Kings XI Punjab',	'wickets',	'RK Illingworth',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216521,	'10/23/2020',	'TA Boult',	2,	10,	'Chennai Super Kings',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'VA Kulkarni',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216522,	'10/17/2020',	'AB de Villiers',	25,	7,	'Rajasthan Royals',	'Royal Challengers Bangalore',	'Rajasthan Royals',	'bat',	'Royal Challengers Bangalore',	'wickets',	'Nitin Menon',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216523,	'10/10/2020',	'KD Karthik',	38,	2,	'Kolkata Knight Riders',	'Kings XI Punjab',	'Kolkata Knight Riders',	'bat',	'Kolkata Knight Riders',	'runs',	'CB Gaffaney',	'N',	'NA',	'UV Gandhe',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216524,	'10/27/2020',	'WP Saha',	25,	88,	'Sunrisers Hyderabad',	'Delhi Capitals',	'Delhi Capitals',	'field',	'Sunrisers Hyderabad',	'runs',	'Nitin Menon',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216525,	'10/10/2020',	'V Kohli',	25,	37,	'Royal Challengers Bangalore',	'Chennai Super Kings',	'Royal Challengers Bangalore',	'bat',	'Royal Challengers Bangalore',	'runs',	'PR Reiffel',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216526,	'10/16/2020',	'Q de Kock',	38,	8,	'Kolkata Knight Riders',	'Mumbai Indians',	'Kolkata Knight Riders',	'bat',	'Mumbai Indians',	'wickets',	'VK Sharma',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216527,	'9/27/2020',	'SV Samson',	2,	4,	'Kings XI Punjab',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'K Srinivasan',	'N',	'NA',	'RK Illingworth',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216528,	'10/13/2020',	'RA Jadeja',	25,	20,	'Chennai Super Kings',	'Sunrisers Hyderabad',	'Chennai Super Kings',	'bat',	'Chennai Super Kings',	'runs',	'PR Reiffel',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216529,	'10/11/2020',	'Q de Kock',	38,	5,	'Delhi Capitals',	'Mumbai Indians',	'Delhi Capitals',	'bat',	'Mumbai Indians',	'wickets',	'S Ravi',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216530,	'11/1/2020',	'PJ Cummins',	25,	60,	'Kolkata Knight Riders',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Kolkata Knight Riders',	'runs',	'PR Reiffel',	'N',	'NA',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216531,	'10/15/2020',	'KL Rahul',	2,	8,	'Royal Challengers Bangalore',	'Kings XI Punjab',	'Royal Challengers Bangalore',	'bat',	'Kings XI Punjab',	'wickets',	'C Shamshuddin',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216532,	'9/29/2020',	'Rashid Khan',	38,	15,	'Sunrisers Hyderabad',	'Delhi Capitals',	'Delhi Capitals',	'field',	'Sunrisers Hyderabad',	'runs',	'S Ravi',	'N',	'NA',	'VK Sharma',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216533,	'10/19/2020',	'JC Buttler',	38,	7,	'Chennai Super Kings',	'Rajasthan Royals',	'Chennai Super Kings',	'bat',	'Rajasthan Royals',	'wickets',	'VK Sharma',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216534,	'9/21/2020',	'YS Chahal',	25,	10,	'Royal Challengers Bangalore',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Royal Challengers Bangalore',	'runs',	'Nitin Menon',	'N',	'NA',	'AY Dandekar',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216535,	'10/31/2020',	'Ishan Kishan',	25,	9,	'Delhi Capitals',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Mumbai Indians',	'wickets',	'PR Reiffel',	'N',	'NA',	'YC Barde',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216536,	'10/29/2020',	'RD Gaikwad',	25,	6,	'Kolkata Knight Riders',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Chennai Super Kings',	'wickets',	'RK Illingworth',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216537,	'10/30/2020',	'BA Stokes',	38,	7,	'Kings XI Punjab',	'Rajasthan Royals',	'Rajasthan Royals',	'field',	'Rajasthan Royals',	'wickets',	'S Ravi',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216538,	'10/4/2020',	'TA Boult',	2,	34,	'Mumbai Indians',	'Sunrisers Hyderabad',	'Mumbai Indians',	'bat',	'Mumbai Indians',	'runs',	'RK Illingworth',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216541,	'10/25/2020',	'BA Stokes',	38,	8,	'Mumbai Indians',	'Rajasthan Royals',	'Mumbai Indians',	'bat',	'Rajasthan Royals',	'wickets',	'VK Sharma',	'N',	'NA',	'UV Gandhe',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216542,	'10/8/2020',	'JM Bairstow',	25,	69,	'Sunrisers Hyderabad',	'Kings XI Punjab',	'Sunrisers Hyderabad',	'bat',	'Sunrisers Hyderabad',	'runs',	'Nitin Menon',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216543,	'10/14/2020',	'A Nortje',	25,	13,	'Delhi Capitals',	'Rajasthan Royals',	'Delhi Capitals',	'bat',	'Delhi Capitals',	'runs',	'Nitin Menon',	'N',	'NA',	'AK Chaudhary',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216539,	'9/25/2020',	'PP Shaw',	25,	44,	'Delhi Capitals',	'Chennai Super Kings',	'Chennai Super Kings',	'field',	'Delhi Capitals',	'runs',	'RK Illingworth',	'N',	'NA',	'KN Ananthapadmanabhan',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216540,	'10/12/2020',	'AB de Villiers',	2,	82,	'Royal Challengers Bangalore',	'Kolkata Knight Riders',	'Royal Challengers Bangalore',	'bat',	'Royal Challengers Bangalore',	'runs',	'K Srinivasan',	'N',	'NA',	'RK Illingworth',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216544,	'10/25/2020',	'RD Gaikwad',	25,	8,	'Royal Challengers Bangalore',	'Chennai Super Kings',	'Royal Challengers Bangalore',	'bat',	'Chennai Super Kings',	'wickets',	'RK Illingworth',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216545,	'9/26/2020',	'Shubman Gill',	38,	7,	'Sunrisers Hyderabad',	'Kolkata Knight Riders',	'Sunrisers Hyderabad',	'bat',	'Kolkata Knight Riders',	'wickets',	'VK Sharma',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216546,	'10/20/2020',	'S Dhawan',	25,	5,	'Delhi Capitals',	'Kings XI Punjab',	'Delhi Capitals',	'bat',	'Kings XI Punjab',	'wickets',	'RK Illingworth',	'N',	'NA',	'C Shamshuddin',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1216547,	'9/28/2020',	'AB de Villiers',	25,	'NA',	'Royal Challengers Bangalore',	'Mumbai Indians',	'Mumbai Indians',	'field',	'Royal Challengers Bangalore',	'tie',	'PR Reiffel',	'Y',	'NA',	'Nitin Menon',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1237177,	'11/5/2020',	'JJ Bumrah',	25,	57,	'Mumbai Indians',	'Delhi Capitals',	'Delhi Capitals',	'field',	'Mumbai Indians',	'runs',	'Nitin Menon',	'N',	'NA',	'CB Gaffaney',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1237178,	'11/6/2020',	'KS Williamson',	38,	6,	'Royal Challengers Bangalore',	'Sunrisers Hyderabad',	'Sunrisers Hyderabad',	'field',	'Sunrisers Hyderabad',	'wickets',	'S Ravi',	'N',	'NA',	'PR Reiffel',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1237180,	'11/8/2020',	'MP Stoinis',	38,	17,	'Delhi Capitals',	'Sunrisers Hyderabad',	'Delhi Capitals',	'bat',	'Delhi Capitals',	'runs',	'S Ravi',	'N',	'NA',	'PR Reiffel',	0	)");
conn.execute("INSERT INTO ipl_matches values(	1237181,	'11/10/2020',	'TA Boult',	25,	5,	'Delhi Capitals',	'Mumbai Indians',	'Delhi Capitals',	'bat',	'Mumbai Indians',	'wickets',	'Nitin Menon',	'N',	'NA',	'CB Gaffaney',	0	)");

In [0]:
conn.commit()
print ("Records created successfully");
conn.close()

In [0]:

import sqlite3
conn = sqlite3.connect('data_grokd.db');
print ("Opened database successfully");
cursor = conn.execute("SELECT * from ipl_matches")
for row in cursor:
  print ("match_id = ", row[0]);
  print ("Operation done successfully");
conn.close()

In [0]:
import sqlite3
conn = sqlite3.connect('data_grokd.db')
print ("Opened database successfully");
import sqlite3
conn = sqlite3.connect('data_grokd.db')
print ("Opened database successfully");
conn.execute('''CREATE TABLE ipl_venue
         (venue_id   INT PRIMARY KEY     NOT NULL,
         venue           char(100),
         city          char(50) );''')
print ("Table created successfully");
conn.close()

In [0]:
import sqlite3
conn = sqlite3.connect('data_grokd.db')
print ("Opened database successfully");

conn.execute("INSERT INTO ipl_venue values(1,    'Dr.Y.S.Rajasekhara Reddy ACA-VDCA Cricket Stadium','Visakhapatnam')");
conn.execute("INSERT INTO ipl_venue values(2,    'Sharjah Cricket Stadium','Sharjah')");
conn.execute("INSERT INTO ipl_venue values(3,    'JSCA International Stadium Complex','Ranchi')");
conn.execute("INSERT INTO ipl_venue values(4,    'Saurashtra Cricket Association Stadium','Rajkot')");
conn.execute("INSERT INTO ipl_venue values(5,    'Shaheed Veer Narayan Singh International Stadium','Raipur')");
conn.execute("INSERT INTO ipl_venue values(6,    'Maharashtra Cricket Association Stadium','Pune')");
conn.execute("INSERT INTO ipl_venue values(7,    'Subrata Roy Sahara Stadium','Pune')");
conn.execute("INSERT INTO ipl_venue values(8,    'St George''s Park','Port Elizabeth')");
conn.execute("INSERT INTO ipl_venue values(9,    'Vidarbha Cricket Association Stadium, Jamtha',    'Nagpur')");
conn.execute("INSERT INTO ipl_venue values(12,    'Brabourne Stadium','Mumbai')");
conn.execute("INSERT INTO ipl_venue values(13,    'Dr DY Patil Sports Academy','Mumbai')");
conn.execute("INSERT INTO ipl_venue values(14,    'Wankhede Stadium','Mumbai')");
conn.execute("INSERT INTO ipl_venue values(15,    'Eden Gardens',    'Kolkata')");
conn.execute("INSERT INTO ipl_venue values(16,    'Nehru Stadium','Kochi')");
conn.execute("INSERT INTO ipl_venue values(17,    'De Beers Diamond Oval','Kimberley')");
conn.execute("INSERT INTO ipl_venue values(18,    'Green Park','Kanpur')");
conn.execute("INSERT INTO ipl_venue values(19,    'New Wanderers Stadium','Johannesburg')");
conn.execute("INSERT INTO ipl_venue values(20,    'Sawai Mansingh Stadium','Jaipur')");
conn.execute("INSERT INTO ipl_venue values(21,    'Holkar Cricket Stadium','Indore')");
conn.execute("INSERT INTO ipl_venue values(22,    'Rajiv Gandhi International Stadium, Uppal','Hyderabad')");
conn.execute("INSERT INTO ipl_venue values(23,    'Buffalo Park',    'East London')");
conn.execute("INSERT INTO ipl_venue values(24,    'Kingsmead','Durban')");
conn.execute("INSERT INTO ipl_venue values(25,    'Dubai International Cricket Stadium','Dubai')");
conn.execute("INSERT INTO ipl_venue values(26,    'Himachal Pradesh Cricket Association Stadium',    'Dharamsala')");
conn.execute("INSERT INTO ipl_venue values(27,    'Feroz Shah Kotla','Delhi')");
conn.execute("INSERT INTO ipl_venue values(28,    'Barabati Stadium','Cuttack')");
conn.execute("INSERT INTO ipl_venue values(29,    'MA Chidambaram Stadium, Chepauk','Chennai')");
conn.execute("INSERT INTO ipl_venue values(30,    'Punjab Cricket Association IS Bindra Stadium, Mohali',    'Chandigarh')");
conn.execute("INSERT INTO ipl_venue values(31,    'Punjab Cricket Association Stadium, Mohali','Chandigarh')");
conn.execute("INSERT INTO ipl_venue values(32,    'SuperSport Park','Centurion')");
conn.execute("INSERT INTO ipl_venue values(33,    'Newlands','Cape Town')");
conn.execute("INSERT INTO ipl_venue values(34,    'OUTsurance Oval','Bloemfontein')");
conn.execute("INSERT INTO ipl_venue values(35,    'M.Chinnaswamy Stadium','Bengaluru')");
conn.execute("INSERT INTO ipl_venue values(37,    'Sardar Patel Stadium, Motera',    'Ahmedabad')");
conn.execute("INSERT INTO ipl_venue values(38, 'Sheikh Zayed Stadium','Abu Dhabi')");

In [0]:
conn.commit()
print ("Records created successfully");
conn.close()
import sqlite3
conn = sqlite3.connect('data_grokd.db')
#print ("Opened database successfully");
cursor = conn.execute("SELECT * from ipl_venue")
for row in cursor:
  print ("venue_id = ", row[0]);
  print ("Operation done successfully");
conn.close()

In [0]:

import sqlite3
class Database:

    def __init__(self, name):
        self._conn = sqlite3.connect(name)

        self._cursor = self._conn.cursor()
 
    def __enter__(self):
        return self
 
    def __exit__(self, exc_type, exc_val, exc_tb):
        self.close()
    @property
    def connection(self):
        return self._conn
    @property
    def cursor(self):
        return self._cursor

    def commit(self):
        self.connection.commit()
    def close(self, commit=True):

        if commit:
            self.commit()
        self.connection.close()
 
    def execute(self, sql, params=None):
        self.cursor.execute(sql, params or ())
 
    def fetchall(self):
        return self.cursor.fetchall()

    def fetchone(self):
        return self.cursor.fetchone()
 
    def query(self, sql, params=None):
        self.cursor.execute(sql, params or ())
        return self.fetchall()

In [0]:
import json
import sqlite3
def get_my_jsonified_data(key):
    with sqlite3.connect('data_grokd.db') as conn:
        cursor = conn.cursor()
        cursor.execute("select * from ipl_venue where venue_id=1", [key])
        data = cursor.fetchall()
        return json.dumps(data)

In [0]:
import json
import sqlite3
def get_my_jsonified_data(key):
    with sqlite3.connect('data_grokd.db') as conn:
        cursor = conn.cursor()
        cursor.execute("select * from ipl_matches where venue_id=1", [key])
        data = cursor.fetchall()
        return json.dumps(data)

In [0]:

import sqlite3
import traceback
import sys
try:
    sqliteConnection = sqlite3.connect('data_grokd.db')
    cursor = sqliteConnection.cursor()
    print("Successfully Connected to SQLite")

 
    sqlite_insert_query = """INSERT INTO unknown_table_1

                          (id, text)  VALUES  (1, 'Demo Text')"""

 
    count = cursor.execute(sqlite_insert_query)
    sqliteConnection.commit()
    print("Record inserted successfully into SqliteDb_developers table ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Failed to insert data into sqlite table")
    print("Exception class is: ", error.__class__)
    print("Exception is", error.args)
    print('Printing detailed SQLite exception traceback: ')
    exc_type, exc_value, exc_tb = sys.exc_info()
    print(traceback.format_exception(exc_type, exc_value, exc_tb))
finally:
    if (sqliteConnection):
        sqliteConnection.close()
        print("The SQLite connection is closed")